<!DOCTYPE html>
<head>
	<title>Homage - DemoDay</title>

	<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="http://blueimp.github.io/Gallery/css/blueimp-gallery.min.css">
	<link rel="stylesheet" href="/css/bootstrap-image-gallery.min.css">

	<style type="text/css">
		html, body {
			height: 100%;
		}
		body {
			background-color:#f8f8f8;
		}
		nav {
			background-color: #ff7d5f !important;
		}
		#remakes {
			text-align: center;
		}
		#remakes .video {
			display:inline-block;
			text-decoration:none;
			color:black;
		}
		#remakes a img {
			margin: 3px 1px;
		}
		.loading { 
		  font-size: 1.5em; 
		  font-family: Georgia; 
		  visibility: hidden;
		  /*color: #f0f0f0;*/
		}
		.glyphicon-refresh-animate {
		    -animation: spin .7s infinite linear;
		    -webkit-animation: spin2 .7s infinite linear;
		}

		@-webkit-keyframes spin2 {
		    from { -webkit-transform: rotate(0deg);}
		    to { -webkit-transform: rotate(360deg);}
		}

		@keyframes spin {
		    from { transform: scale(1) rotate(0deg);}
		    to { transform: scale(1) rotate(360deg);}
		}
	</style>

</head>

<body>
	<nav class="navbar navbar-default" role="navigation">
	  <div class="container">
		    <!-- Brand and toggle get grouped for better mobile display -->
		    <div class="navbar-header">
		      <a class="navbar-brand" href="http://www.homage.it"> <img src="https://s3.amazonaws.com/homageapp/Intro/Homage_Logo.png" height="24" width="117"> </a>
		    </div>
	    </div>
	</nav>

	<div class="container"> 
		<h1>
			<%= @heading %>
		</h1>
		<!-- The Bootstrap Image Gallery lightbox, should be a child element of the document body -->
		<div id="blueimp-gallery" class="blueimp-gallery">
		    <!-- The container for the modal slides -->
		    <div class="slides"></div>
		    <!-- Controls for the borderless lightbox -->
		    <h3 class="title"></h3>
		    <a class="prev">‹</a>
		    <a class="next">›</a>
		    <a class="close">×</a>
		    <a class="play-pause"></a>
		    <ol class="indicator"></ol>
		    <!-- The modal dialog, which will be used to wrap the lightbox content -->
		    <div class="modal fade">
		        <div class="modal-dialog">
		            <div class="modal-content">
		                <div class="modal-header">
		                    <button type="button" class="close" aria-hidden="true">&times;</button>
		                    <h4 class="modal-title"></h4>
		                </div>
		                <div class="modal-body next"></div>
		                <div class="modal-footer">
		                    <button type="button" class="btn btn-default pull-left prev">
		                        <i class="glyphicon glyphicon-chevron-left"></i>
		                        Previous
		                    </button>
		                    <button type="button" class="btn btn-primary next">
		                        Next
		                        <i class="glyphicon glyphicon-chevron-right"></i>
		                    </button>
		                </div>
		            </div>
		        </div>
		    </div>
		</div>
	<div class="container-fluid">
		<div class="row">
			<!-- Stroy Selector -->
			<div class="container col-xs-4"> 
			Select a Story
			<select onchange="location = this.options[this.selectedIndex].value;">
			<% if @laststory %>
		  		<option value="<%= @laststory["_id"] %>"><%= @laststory["name"].to_s %></option>
  			<% end %>
  			<option value="<%= "/date/" + @date %>">Choose</option>
			  <% for story in @stories do %>
			  	<% if story != @laststory %> 
				  	<% if @showraw && @lastraw then %>
				  		<option value="<%= "/date/" + @date + "?story_id=" + story["_id"].to_s + "&raw=" + @lastraw.to_s %>"><%= story["name"] %></option>
			  		<% else %>
			  			<option value="<%= "/date/" + @date + "?story_id=" + story["_id"].to_s %>"><%= story["name"] %></option>
			  		<% end %>
		  		<% end %>
			  <% end %>
			</select>
			</div>
			<!-- Raw Selector -->
			<div class="container col-xs-4"> 
			Select Raw
			<select onchange="location = this.options[this.selectedIndex].value;">
				<% if @lastraw %>
			  		<option value="<%= @lastraw %>"><%= @lastraw.to_s %></option>
	  			<% end %>
	  			<option value="<%= "/date/" + @date %>">None</option>
			  <% for rawd in @raws do %>
			  	<% if @laststory then %>
			  		<option value="<%= "/date/" + @date + "?story_id=" + @laststory["_id"].to_s + "&raw=" + rawd.to_s %>"><%= rawd.to_s %></option>
		  		<% else %>
		  			<option value="<%= "/date/" + @date + "?raw=" + rawd.to_s %>"><%= rawd.to_s %></option>
		  		<% end %>
			  <% end %>
			</select>
			</div>
		</div>
			<!-- Grade Selector -->
			<div class="container col-xs-4"> 
			Select a Grade
			<select onchange="location = this.options[this.selectedIndex].value;" selected>
				<% if @lastgrade %>
			  		<option value="<%= @lastgrade %>"><%= @lastgrade.to_s %></option>
	  			<% end %>
	  			<!-- <option value="<%= "/date/" + @date %>">Choose</option> -->
			  <% for graded in @grades do %>
			  	<% if @laststory then %>
			  		<option value="<%= "/date/" + @date + "?story_id=" + @laststory["_id"].to_s + "&grade=" + graded.to_s %>"><%= graded.to_s %></option>
		  		<% else %>
		  			<option value="<%= "/date/" + @date + "?grade=" + graded.to_s %>"><%= graded.to_s %></option>
		  		<% end %>
			  <% end %>
			</select>
			</div>
		</div>
	</div>
		<!-- Remakes -->
		<div id="remakes">
			<% for remake in @remakes do %>	
			<div id="video" class="video">
				<% if @showraw then %>
			    	<a href=<%= remake["video"] %> title="<%= remake["_id"].to_s %>" type="video/mp4" data-poster=<%= remake["thumbnail"] %> data-gallery>
			        <img src=<%= File.dirname(remake["thumbnail"]).to_s + "/" + remake["_id"].to_s + "_raw1.jpg" %> width=320 height=180 alt="<%= remake["title"] %>">
		        <% else %>
		        	<a id="video1" href=<%= remake["video"] %> title="<%= remake["_id"].to_s %>" type="video/mp4" data-poster=<%= remake["thumbnail"] %> data-gallery>
			        <img src=<%= remake["thumbnail"] %> width=320 height=180 alt="<%= remake["title"] %>"></a>
		        <% end %>
		        <div class="background">Background score: <%= remake["footages"][0]["background"].to_s %></div>
			    	<% if @grade then %>
				        <div class="caption">
				        	<%= remake["_id"].to_s %>
				        </div>
				       	<form action="/update/grade" method="post" style='z-index: 1000;' class="grade_form">
					    	Grade: <input type="text" value=<% if remake["grade"] then %> <%= remake["grade"] %> <% else %> "0" <% end %> name="grade">
					       	<input type="submit" value="Update">
					       	<input type="hidden" name="remake_id" value=<%= remake["_id"].to_s %>>
					    </form>
					<% end %>
					<button id="downloadbutton" class="btn btn-lg btn-warning" onclick="DownloadRemake(this,'<%= remake["_id"].to_s %>')">Download</button>
					<!-- <button type="button" onclick="DownloadRemake('<%= remake["_id"].to_s %>')">Download Remake</button> -->
			</div>
			<!-- ListObjectsFromS3() -->
			<% end %>

<!-- 		    <a href="http://d293iqusjtyr94.cloudfront.net/Remakes/5300c3dec5c06a0c80000001/Dive%20School_5300c3dec5c06a0c80000001.mp4" title="Nir Channes" type="video/mp4" data-poster="http://d293iqusjtyr94.cloudfront.net/Remakes/5300c3dec5c06a0c80000001/Dive%20School_5300c3dec5c06a0c80000001.jpg" data-gallery>
		        <img src="https://homageapp.s3.amazonaws.com/Remakes/5300c3dec5c06a0c80000001/Dive%20School_5300c3dec5c06a0c80000001.jpg" width=320 height=180 alt="Jonny Sacks">
		    </a>
		    <a href="http://d293iqusjtyr94.cloudfront.net/Remakes/530108cec5c06a0904000001/Dive%20School_530108cec5c06a0904000001.mp4" title="Ziv Channes" type="video/mp4" data-poster="http://d293iqusjtyr94.cloudfront.net/Remakes/530108cec5c06a0904000001/Dive%20School_530108cec5c06a0904000001.jpg" data-gallery>
		        <img src="http://d293iqusjtyr94.cloudfront.net/Remakes/530108cec5c06a0904000001/Dive%20School_530108cec5c06a0904000001.jpg" width=320 height=180 alt="Ziv Channes">
		    </a>
		    <a href="http://d293iqusjtyr94.cloudfront.net/Remakes/5300c590c5c06a0c80000003/Dive%20School_5300c590c5c06a0c80000003.mp4" title="Tomer Harry" type="video/mp4" data-poster="http://d293iqusjtyr94.cloudfront.net/Remakes/5300c590c5c06a0c80000003/Dive%20School_5300c590c5c06a0c80000003.jpg" data-gallery>
		        <img src="http://d293iqusjtyr94.cloudfront.net/Remakes/5300c590c5c06a0c80000003/Dive%20School_5300c590c5c06a0c80000003.jpg" width=320 height=180 alt="Tomer Harry">
		    </a>
		    <a href="http://d293iqusjtyr94.cloudfront.net/Remakes/530082a1c5c06a03ac000002/The%20Oscars_530082a1c5c06a03ac000002.mp4" title="Jonny Sacks" type="video/mp4" data-poster="http://d293iqusjtyr94.cloudfront.net/Remakes/530082a1c5c06a03ac000002/The%20Oscars_530082a1c5c06a03ac000002.jpg" data-gallery>
		        <img src="http://d293iqusjtyr94.cloudfront.net/Remakes/530082a1c5c06a03ac000002/The%20Oscars_530082a1c5c06a03ac000002.jpg" width=320 height=180 alt="Jonny Sacks">
		    </a>


 -->
 <button id="download-all" type="hidden"></button>
		</div>
	</div>

	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
	<script src="http://blueimp.github.io/Gallery/js/jquery.blueimp-gallery.min.js"></script>
	<script src="/js/bootstrap-image-gallery.min.js"></script>
	<script src="https://sdk.amazonaws.com/js/aws-sdk-2.0.27.min.js"></script>

	<script>
		$(document).ready(function(){


			$("body").on("click", ".grade_form", function(e){
				e.stopPropagation();
				e.preventDefault();
				
			});

			$("body").on("click", ".caption", function(e){
				e.stopPropagation();
				e.preventDefault();
				
			});

			$("body").on("click", ".grade_form input[type='submit']", function(e){
				e.stopPropagation();
				e.preventDefault();
				$(this).closest('form').submit();   
			})

			// form submit ajax
			$('form').submit(function(event) {
		        event.preventDefault();
		        //console.log('submit closest done');
		        $.ajax({
		            type: "POST",
		            url: $(this).attr('action'),
		            data: $(this).serialize(),
		            success: function(data){
		                alert('Grade successfully applied!');                    
		            }
		        });
		    });

			// $( ".container" ).change(function(event) {
			//   alert(event.target.options[event.target.selectedIndex].value);
			//   $('#remakes').load(document.URL + ' #remakes');
			// });

		})

		
		//Download the remake from S3
		function DownloadRemake(button, remake_id) {

					button.innerHTML = '<span class="glyphicon glyphicon-refresh glyphicon-refresh-animate" ></span> Loading...';
					var theUrl = '/download/remake/' + remake_id;

					var xmlHttp = null;

					    xmlHttp = new XMLHttpRequest();

					    xmlHttp.onreadystatechange=function()
						  {
						  if (xmlHttp.readyState==4 && xmlHttp.status==200)
						    {
						    	var pom = document.createElement('a');
							  pom.setAttribute('href', xmlHttp.responseText);
							  pom.setAttribute('download', remake_id + '.zip');
							  pom.setAttribute('type', 'application/zip');
							  pom.click();
							  button.innerHTML = 'Download';
						    }
						  }

					    xmlHttp.open( "GET", theUrl, true );
					    xmlHttp.send( null );
		}
		//Download the remake from S3-------------------------
		
	</script>
	<!-- <script src="/js/blueimp-gallery-video.js"></script> -->

</body>