<!DOCTYPE html>
<head>
	<title>Homage - DemoDay</title>

	<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="http://blueimp.github.io/Gallery/css/blueimp-gallery.min.css">
	<link rel="stylesheet" href="/css/bootstrap-image-gallery.min.css">

	<style type="text/css">
		html, body {
			height: 100%;
		}
		body {
			background-color:#f8f8f8;
		}
		nav {
			background-color: #ff7d5f !important;
		}
		#links {
			text-align: center;
		}
		#links a {
			display:inline-block;
			text-decoration:none;
			color:black;
		}
		#links a img {
			margin: 3px 1px;
		}
		.show {
		    z-index:1000;
		    position: absolute;
		    background-color:#C0C0C0;
		    border: 1px solid blue;
		    padding: 2px;
		    display: block;
		    margin: 0;
		    list-style-type: none;
		    list-style: none;
		}

		.hide {
		    display: none;
		}

		.show li{ list-style: none; }
		.show a { border: 0 !important; text-decoration: none; }
		.show a:hover { text-decoration: underline !important; }
	</style>

</head>

<body>
	<nav class="navbar navbar-default" role="navigation">
	  <div class="container">
		    <!-- Brand and toggle get grouped for better mobile display -->
		    <div class="navbar-header">
		      <a class="navbar-brand" href="http://www.homage.it"> <img src="https://s3.amazonaws.com/homageapp/Intro/Homage_Logo.png" height="24" width="117"> </a>
		    </div>
	    </div>
	</nav>

	<div class="container"> 
		<h1>
			<%= @heading %>
		</h1>
		<!-- The Bootstrap Image Gallery lightbox, should be a child element of the document body -->
		<div id="blueimp-gallery" class="blueimp-gallery">
		    <!-- The container for the modal slides -->
		    <div class="slides"></div>
		    <!-- Controls for the borderless lightbox -->
		    <h3 class="title"></h3>
		    <a class="prev">‹</a>
		    <a class="next">›</a>
		    <a class="close">×</a>
		    <a class="play-pause"></a>
		    <ol class="indicator"></ol>
		    <!-- The modal dialog, which will be used to wrap the lightbox content -->
		    <div class="modal fade">
		        <div class="modal-dialog">
		            <div class="modal-content">
		                <div class="modal-header">
		                    <button type="button" class="close" aria-hidden="true">&times;</button>
		                    <h4 class="modal-title"></h4>
		                </div>
		                <div class="modal-body next"></div>
		                <div class="modal-footer">
		                    <button type="button" class="btn btn-default pull-left prev">
		                        <i class="glyphicon glyphicon-chevron-left"></i>
		                        Previous
		                    </button>
		                    <button type="button" class="btn btn-primary next">
		                        Next
		                        <i class="glyphicon glyphicon-chevron-right"></i>
		                    </button>
		                </div>
		            </div>
		        </div>
		    </div>
		</div>

		<div id="links">
			<% for remake in @remakes do %>	
			<!-- <div id="video1"> -->
			    <a class="video" href=<%= remake["video"] %> title="<%= remake["_id"].to_s %>" type="video/mp4" data-poster=<%= remake["thumbnail"] %> data-gallery>
			        <img src=<%= remake["thumbnail"] %> width=320 height=180 alt="<%= remake["title"] %>">
			    	<% if @grade then %>
				        <div class="caption">
				        	<%= remake["_id"].to_s %>
				        </div>
				       	<form action="/update/grade" method="post" style='z-index: 1000;' class="grade_form">
					    	Grade: <input type="text" value=<% if remake["grade"] then %> <%= remake["grade"] %> <% else %> "0" <% end %> name="grade">
					       	<input type="submit" value="Update">
					       	<input type="hidden" name="remake_id" value=<%= remake["_id"].to_s %>>
					     </form>
					<% end %>
			    </a>
			    <!-- </div> -->
			    <!-- initially hidden right-click menu 
		        <div class="hide" id="rmenu">
		            <ul>
		                <li>
		                    <a href="http://www.google.com">Google</a>
		                </li>

		                <li>
		                    <a href="http://localhost:8080/login">Localhost</a>
		                </li>
		            </ul>
		        </div>-->
			<% end %>

<!-- 		    <a href="http://d293iqusjtyr94.cloudfront.net/Remakes/5300c3dec5c06a0c80000001/Dive%20School_5300c3dec5c06a0c80000001.mp4" title="Nir Channes" type="video/mp4" data-poster="http://d293iqusjtyr94.cloudfront.net/Remakes/5300c3dec5c06a0c80000001/Dive%20School_5300c3dec5c06a0c80000001.jpg" data-gallery>
		        <img src="https://homageapp.s3.amazonaws.com/Remakes/5300c3dec5c06a0c80000001/Dive%20School_5300c3dec5c06a0c80000001.jpg" width=320 height=180 alt="Jonny Sacks">
		    </a>
		    <a href="http://d293iqusjtyr94.cloudfront.net/Remakes/530108cec5c06a0904000001/Dive%20School_530108cec5c06a0904000001.mp4" title="Ziv Channes" type="video/mp4" data-poster="http://d293iqusjtyr94.cloudfront.net/Remakes/530108cec5c06a0904000001/Dive%20School_530108cec5c06a0904000001.jpg" data-gallery>
		        <img src="http://d293iqusjtyr94.cloudfront.net/Remakes/530108cec5c06a0904000001/Dive%20School_530108cec5c06a0904000001.jpg" width=320 height=180 alt="Ziv Channes">
		    </a>
		    <a href="http://d293iqusjtyr94.cloudfront.net/Remakes/5300c590c5c06a0c80000003/Dive%20School_5300c590c5c06a0c80000003.mp4" title="Tomer Harry" type="video/mp4" data-poster="http://d293iqusjtyr94.cloudfront.net/Remakes/5300c590c5c06a0c80000003/Dive%20School_5300c590c5c06a0c80000003.jpg" data-gallery>
		        <img src="http://d293iqusjtyr94.cloudfront.net/Remakes/5300c590c5c06a0c80000003/Dive%20School_5300c590c5c06a0c80000003.jpg" width=320 height=180 alt="Tomer Harry">
		    </a>
		    <a href="http://d293iqusjtyr94.cloudfront.net/Remakes/530082a1c5c06a03ac000002/The%20Oscars_530082a1c5c06a03ac000002.mp4" title="Jonny Sacks" type="video/mp4" data-poster="http://d293iqusjtyr94.cloudfront.net/Remakes/530082a1c5c06a03ac000002/The%20Oscars_530082a1c5c06a03ac000002.jpg" data-gallery>
		        <img src="http://d293iqusjtyr94.cloudfront.net/Remakes/530082a1c5c06a03ac000002/The%20Oscars_530082a1c5c06a03ac000002.jpg" width=320 height=180 alt="Jonny Sacks">
		    </a>
 -->
		</div>
	</div>

	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
	<script src="http://blueimp.github.io/Gallery/js/jquery.blueimp-gallery.min.js"></script>
	<script src="/js/bootstrap-image-gallery.min.js"></script>

	<script>
		$(document).ready(function(){
			$("body").on("click", ".grade_form", function(e){
				e.stopPropagation();
				e.preventDefault();
				
			});

			$("body").on("click", ".caption", function(e){
				e.stopPropagation();
				e.preventDefault();
				
			});

			$("body").on("click", ".grade_form input[type='submit']", function(e){
				e.stopPropagation();
				e.preventDefault();
				$(this).closest('form').submit();   
			})

			// form submit ajax
			$('form').submit(function(event) {
		        event.preventDefault();
		        //console.log('submit closest done');
		        $.ajax({
		            type: "POST",
		            url: $(this).attr('action'),
		            data: $(this).serialize(),
		            success: function(data){
		                alert('Grade successfully applied!');                    
		            }
		        });
		    });
			// form submit ajax---------------------

			//right click listener
		   /* if ($("#video").addEventListener) {
		        $("#video").addEventListener('contextmenu', function(e) {
		            alert("You've tried to open context menu"); //here you draw your own menu
		            e.preventDefault();
		        }, false);
		    } else {

		        //document.getElementById("test").attachEvent('oncontextmenu', function() {
		        //$(".test").bind('contextmenu', function() {
		            $('body').on('contextmenu', 'a.video', function() {


		            //alert("contextmenu"+event);
		            document.getElementById("rmenu").className = "show";  
		            document.getElementById("rmenu").style.top =  mouseY(event);
		            document.getElementById("rmenu").style.left = mouseX(event);

		            window.event.returnValue = false;


		        });
   			}*/
   			//right click listener------------------

		})

		 $(document).bind("click", function(event) {
		        document.getElementById("rmenu").className = "hide";
		    });
	</script>
	<!-- <script src="/js/blueimp-gallery-video.js"></script> -->

</body>