<!DOCTYPE html>
<head>
	<title>Homage - DemoDay</title>

	<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="http://blueimp.github.io/Gallery/css/blueimp-gallery.min.css">
	<link rel="stylesheet" href="/css/bootstrap-image-gallery.min.css">
	<link rel="stylesheet" href="/css/demoday.css">
</head>

<body>
	<nav class="navbar navbar-default" role="navigation">
	  <div class="container">
		    <!-- Brand and toggle get grouped for better mobile display -->
		    <div class="navbar-header">
		      <a class="navbar-brand" href="http://www.homage.it"> <img src="https://s3.amazonaws.com/homageapp/Intro/Homage_Logo.png" height="24" width="117"> </a>
		    </div>
	    </div>
	</nav>

	<div class="container">
		<h1>
			<%= @heading %>
		</h1>
		<!-- <h1>
			<%= @test %>
		</h1> -->
		<!-- The Bootstrap Image Gallery lightbox, should be a child element of the document body -->
		<div id="blueimp-gallery" class="blueimp-gallery">
		    <!-- The container for the modal slides -->
		    <div class="slides"></div>
		    <!-- Controls for the borderless lightbox -->
		    <h3 class="title"></h3>
		    <a class="prev">‹</a>
		    <a class="next">›</a>
		    <a class="close">×</a>
		    <a class="play-pause"></a>
		    <ol class="indicator"></ol>
		    <!-- The modal dialog, which will be used to wrap the lightbox content -->
		    <div class="modal fade">
		        <div class="modal-dialog">
		            <div class="modal-content">
		                <div class="modal-header">
		                    <button type="button" class="close" aria-hidden="true">&times;</button>
		                    <h4 class="modal-title"></h4>
		                </div>
		                <div class="modal-body next"></div>
		                <div class="modal-footer">
		                    <button type="button" class="btn btn-default pull-left prev">
		                        <i class="glyphicon glyphicon-chevron-left"></i>
		                        Previous
		                    </button>
		                    <button type="button" class="btn btn-primary next">
		                        Next
		                        <i class="glyphicon glyphicon-chevron-right"></i>
		                    </button>
		                </div>
		            </div>
		        </div>
		    </div>
		</div>
	<div class="container-fluid">
		<div class="row">
			<!-- Campaign Selector -->
			<div class="select-container col-xs-4">
			Select a Campaign
			<select id="selcampaigns" onchange="refreshpage()">
			<% if @lastcampaign %>
		  		<option value="<%= @lastcampaign["name"] %>"><%= @lastcampaign["name"].to_s %></option>
  			<% end %>
  			<option value="">All</option>
			  <% for campaign in @campaigns do %>
			  	<option value="<%= campaign["name"] %>"><%= campaign["name"] %></option>
			  <% end %>
			</select>
			</div>
			<!-- Raw Selector -->
			<div class="select-container col-xs-4">
			Select Raw
			<select id="selraw" onchange="refreshpage()">
				<% if @lastraw %>
			  		<option value="<%= @lastraw %>"><%= @lastraw.to_s %></option>
	  			<% end %>
	  			<option value="">None</option>
			  <% for rawd in @raws do %>
			  	<option value="<%= rawd.to_s %>"><%= rawd.to_s %></option>
			  <% end %>
			</select>
			</div>
		</div>
		<div class="row">
			<!-- Stroy Selector -->
			<div class="select-container col-xs-4">
			Select a Story
			<select id="selstories" onchange="refreshpage()">
			<% if @laststory %>
		  		<option value="<%= @laststory["_id"] %>"><%= @laststory["name"].to_s %></option>
  			<% end %>
  			<option value="">All</option>
			  <% for story in @stories do %>
			  	<option value="<%= story["_id"] %>"><%= story["name"] %></option>
			  <% end %>
			</select>
			</div>
			<!-- Grade Selector -->
			<div class="select-container col-xs-4">
			Select a Grade
			<select id="selgrade" onchange="refreshpage()" selected>
				<% if @lastgrade %>
			  		<option value="<%= @lastgrade %>"><%= @lastgrade.to_s %></option>
	  			<% end %>
	  			<option value="">None</option>
			  <% for graded in @grades do %>
			  	<option value="<%= graded.to_s %>"><%= graded.to_s %></option>
			  <% end %>
			</select>
			</div>
		</div>
		<div class="row">
			<!-- Ispublic Checkbox -->
			<div class="select-container col-xs-1">
			<% if @ispublic %>
				<input id="ispublic" type="checkbox" name="ispublic" checked="checked" onclick='refreshpage();'>public<br>
			<% else %>
				<input id="ispublic" type="checkbox" name="ispublic" onclick='refreshpage();'>public<br>
			<% end %>
			</div>
		</div>
		
	</div>
		<!-- Remakes -->
		<div id="remakes">
			<% for remake in @remakes do %>
			<div id="video" class="video">
				<% if @showraw then %>
					<input type="image" onclick="showvideoplayer(event, '<%= remake["video"] %>');" src="<%= File.dirname(remake["thumbnail"]).to_s + "/" + remake["_id"].to_s + "_raw1.jpg" %>" width="320px" height="180px">
		        <% else %>
		        	<input type="image" onclick="showvideoplayer(event, '<%= remake["video"] %>');" src="<%= remake["thumbnail"] %>" width="320px" height="180px">
		        <% end %>
		        <div class="background">Background score: <%= remake["footages"][0]["background"].to_s %></div>
			    	<% if @grade then %>
				        <div class="caption">
				        	<%= remake["_id"].to_s %>
				        </div>
				       	<form action="/update/grade" method="post" style='z-index: 1000;' class="grade_form">
					    	Grade: <input type="text" value=<% if remake["grade"] then %> <%= remake["grade"] %> <% else %> "0" <% end %> name="grade">
					       	<input type="submit" value="Update">
					       	<input type="hidden" name="remake_id" value=<%= remake["_id"].to_s %>>
					    </form>
					<% end %>
					<button id="downloadbutton" class="btn btn-lg btn-warning" onclick="DownloadRemake(this,'<%= remake["_id"].to_s %>')">Download</button>

					<button id="userinfobutton" class="btn btn-lg btn-warning" onclick="getuserinfo(event,this,'<%= remake["created_at"] %>','<%= remake["_id"] %>')">+</button>
					<!-- <button type="button" onclick="DownloadRemake('<%= remake["_id"].to_s %>')">Download Remake</button> -->
			</div>
			<!-- ListObjectsFromS3() -->
			<% end %>
			<div id="message" class="message" style="visibility: hidden;"></div>
			<div id="videoplayer" class="videoplayer" style="visibility: hidden;"></div>
 <button id="download-all" type="hidden"></button>
		</div>
	</div>

	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
	<script src="http://blueimp.github.io/Gallery/js/jquery.blueimp-gallery.min.js"></script>
	<script src="/js/bootstrap-image-gallery.min.js"></script>
	<script src="https://sdk.amazonaws.com/js/aws-sdk-2.0.27.min.js"></script>
	<script src="/js/demoday.js"></script>

	<!-- <script src="/js/blueimp-gallery-video.js"></script> -->

</body>
