<!DOCTYPE html>
<html lang="en">
<head>
   	<title>HMG video player</title>

   	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
   	
   	<link href="http://vjs.zencdn.net/4.8/video-js.css" rel="stylesheet">
	<script src="http://vjs.zencdn.net/4.8/video.js"></script>
	<link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">  
  	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  	<script type="text/javascript" src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  	<link rel="stylesheet" type="text/css" href="/css/videoPlayerSA.css">
  	<script src="/js/share.min.js"></script>
</head>

<body>
	
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-4 top">
				<a href="http://homage.it/app"/>
					<img src="http://homage.it/wp-content/themes/homage/images/homeLogo.png"></img>
				</a>
				
			</div>

			<div class="col-sm-8 top">
				<div id="menu">
					<div class="menu-menu-1-container">
						<ul id="menu-menu-2" class="menu">
							<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-7">
								<a href="https://itunes.apple.com/us/app/homage/id851746600?l=iw&amp;ls=1&amp;mt=8">
									<img src="http://homage.it/wp-content/themes/homage/images/appStore.png"/>
								</a>
							</li>
							<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-8">
								<a href="http://googleplay.com">
									<img src="http://homage.it/wp-content/themes/homage/images/googlePlay.png"/>
								</a>
							</li>
						</ul>
					</div>
				</div>	
			</div>
		</div>

		<div class="row">
			<div class="col-md-12 hidden-xs upper_spacer">
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				<h1>
						<% if @user["facebook"] then %>
						<%= @user["facebook"]["first_name"] %>'s remake for <%= @story["name"]%>
						<% elsif @user["email"] then %>
						<%= @user["email"].split("@")[0].slice(0,1).capitalize + @user["email"].split("@")[0].slice(1..-1) %>'s remake for <%= @story["name"]%>
						<% else %>
						Remake for <%= @story["name"]%>
						<% end %>
				</h1>
				
				<div class="videocontent">
					<video class="video-js video-js vjs-default-skin vjs-big-play-centered" width="auto" height="auto" controls="controls" 
							poster=<%= @remake["thumbnail"]%> 
							data-setup="{}">
							<source src=<%= @remake["video"]%> type="video/mp4"/>
					</video>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12 bottom_spacer">
			</div>
		</div>	

		<div class="row">
			<div class="col-md-12">
				<div class="shareContainer"></div>
			</div>
		</div>

		
</body>

<script>
	config = {
    	ui: {
    		flyout: 'bottom center'
        }
    }

    var share = new Share(".shareContainer", config);
</script>

