<!DOCTYPE html>
<html lang="en">
<head>
   	<title>Homage | <%= @story["share_message"]%></title>

   	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
   	
   	<link href="http://vjs.zencdn.net/4.8/video-js.css" rel="stylesheet">
	<script src="http://vjs.zencdn.net/4.8/video.js"></script>
	<link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">  
  	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  	<script type="text/javascript" src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  	<script src="/js/share.min.js"></script>
  	<link rel="stylesheet" type="text/css" href="/css/videoPlayerSA.css">
	<link rel="icon" type="image/x-icon" href="/resources/favicon.ico"/>
	<script src="/js/Objectid.js"></script>
	<script src="/js/jquery.cookie.js"></script>

	<!-- Google Analytics (only if in production) -->
	<% if ENV['RACK_ENV'] == "production" then %>
		<script>
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

			ga('create', 'UA-46293158-1', 'auto');
			ga('send', 'pageview');
		</script>
	<% end %>
	
</head>

<body>	
	<div class="blurBG">

	</div>

	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-2 col-sm-4 top left-side">
				<a href="http://homage.it/app"/>
					<img class="logo" src="http://homage.it/wp-content/themes/homage/images/homeLogo.png"></img>
				</a>				
			</div>

			<div class="col-lg-10 col-sm-8 visible-lg visible-md visible-sm hidden-xs top">
				<div id="menu">
					<a href="https://play.google.com/store/apps/details?id=com.homage.app">
						<img class="right-margin homagePlayStoreLink" src="http://homage.it/wp-content/themes/homage/images/googlePlay.png"/>
					</a>
					<a href="https://itunes.apple.com/us/app/homage/id851746600?l=iw&amp;ls=1&amp;mt=8">
						<img class="right-margin homageAppStoreLink" src="http://homage.it/wp-content/themes/homage/images/appStore.png"/>
					</a>
				</div>
			</div>
		</div>
	</div>
	<div class="container_fluid">
		<div class="row">
			<div class="col-md-12 hidden-xs upper_spacer">
			</div>
		</div>

		<div class="row">
			<div class="col-md-3 filler">
				<!--<button class="like_button" type="button">it's a like!</button>-->
			</div>

			<div class="col-md-6">
				<div class="video_player_container">

					<h1 class="remake_description_header">
						#<%= @story["share_message"]%>
					</h1>

					<div class="videocontent">
						<video id="video_player" class="video-js video-js vjs-default-skin vjs-big-play-centered" width="auto" height="auto" controls="controls" 
								poster=<%= @remake["thumbnail"]%> 
								data-setup="{}">
								<source src=<%= @remake["video"]%> type="video/mp4"/>
						</video>
					</div>

					<h1 class='remake_description_body'>					
							<% if @user["facebook"] then %>
							<%= @user["facebook"]["first_name"] %>'s remake for <%= @story["name"]%>
							<% elsif @user["email"] then %>
							<%= @user["email"].split("@")[0].slice(0,1).capitalize + @user["email"].split("@")[0].slice(1..-1) %>'s remake for <%= @story["name"]%>
							<% else %>
							Remake for <%= @story["name"]%>
							<% end %>
					</h1>
				</div>
			</div>

			<div class="col-md-3 filler">

			</div>
		</div>

		<div class="row">
			<div class="col-md-12 bottom_spacer">
			</div>
		</div>	

		<div class="row">
			<div class="col-md-12">
				<div class="shareContainer"></div>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12 hidden-lg hidden-md hidden-sm visible-xs">
				 <div id="menu_full_row">
					<a href="http://googleplay.com">
						<img src="http://homage.it/wp-content/themes/homage/images/googlePlay.png"/>
					</a>
					<a href="https://itunes.apple.com/us/app/homage/id851746600?l=iw&amp;ls=1&amp;mt=8">
						<img src="http://homage.it/wp-content/themes/homage/images/appStore.png"/>
					</a>
				</div>
				
			</div>
		</div>
	</div>		
</body>

<script>
	
	cookies = $.cookie();
	if (!cookies["homageCookieID"]) {
		console.log("no homage cookie");
		var cookie_id = new ObjectId().toString();
		$.cookie('homageCookieID', cookie_id, { expires: 365 });
		$.cookie('like_state' , false , {expires: 365});
	}

	var share_link = '<%= @remake["share_link"] %>'
	var origin_id  = '<%= @originating_share_id %>'
	
	var share_message = '<%= @story["share_message"].gsub("'","\\\'") %>'
	var twitt = share_message.concat(": \n");
	var remakeId = '<%= @remake["_id"].to_s %>'
	var thumbnail = '<%= @remake["thumbnail"] %>'
	var share_link_prefix = '<%= @config["share_link_prefix"] %>'
	var view_pct_threshold = '<%= @config["significant_view_pct_threshold"] %>'
	var currentShareId;
	var currentShareLink;

	impressionId = new ObjectId().toString();
	impression_params = {"impression_id":impressionId, "remake_id":remakeId, "playback_event":0, "originating_screen":11, "cookie_id":$.cookie('homageCookieID')}
	if (origin_id != "") {
		impression_params["origin_id"] = origin_id
	}
	
	$.post('/remake/impression', impression_params , function(data,status){
    			 
  	});

	CopyUrlShareMethod = 0
	FacebookShareMethod = 1
	WhatsappShareMethod = 2
	EmailShareMethod = 3 
	MessageShareMethod = 4
	WeiboShareMethod = 5
	TwitterShareMethod = 6
	GooglePlusShareMethod = 7
	PinterestShareMethod = 8

	var genShareLink = function() {
		currentShareId = new ObjectId().toString();
		currentShareLink = share_link_prefix + "/" + currentShareId;
		return currentShareLink;
	}

	var reportShare = function(share_method){
		// Tracking in our Server
		share_params = {"share_id": currentShareId, "remake_id":remakeId, "share_method":share_method,
						"share_link": currentShareLink, "cookie_id":$.cookie('homageCookieID')}
		if (origin_id != "") {
			share_params["origin_id"] = origin_id
		}
		$.post('/remake/share', share_params, 
								 function(data,status){
								 }
		);
	};

	config = {
		image: thumbnail,
    	ui: {
    		flyout: 'bottom center'
        },

        networks: {
    		google_plus: {
    			before: function() {
		        	this.url = genShareLink();
		        	return this;
		     	},
		      	after: function() {
		        	reportShare(GooglePlusShareMethod);
		      	}
    		},
    		twitter: {
    			before: function() {
		        	this.url = genShareLink();
		        	this.description = twitt;
		        	return this;
		     	},
		      	after: function() {
		        	reportShare(TwitterShareMethod);
		      	}
    		},
    		
    		facebook: {	
		       	app_id:'447743458659084',
		       	load_sdk: true,
    			
    			before: function() {
		        	this.url = genShareLink();
		        	/*this.load_sdk = true;
		        	this.app_id = '447743458659084';*/
		        	this.title = share_message;
		        	this.description = share_message;
		        	this.image = thumbnail;      	
		        	return this;
		     	},

		      	after: function() {
		        	reportShare(FacebookShareMethod);
		      	}
    		},
    		pinterest: {
    			before: function() {
		        	this.url = genShareLink();
		        	this.description = share_message;
		        	this.image = thumbnail;      	
		        	return this;
		     	},
		      	after: function() {
		        	reportShare(PinterestShareMethod);
		      	}
    		},
    		email: {

    			before: function() {
		        	this.title = share_message;
		        	this.description = genShareLink();	
		        	return this;
		     	},
		      	after: function() {
		        	reportShare(EmailShareMethod);
		      	}
    		}
    	}
  	}

    var share_widget = new Share(".shareContainer", config);

    var stopReported = false;
	var playReported = false;

		videojs('video_player').ready(function(){
			var myPlayer = this;
			var videoTitle = '<%= @story["name"] + " - " + @remake["_id"].to_s %>'
			var remakeId = '<%= @remake["_id"].to_s %>'
			var currentViewId;

			var trackVideoSrart = function(){
				// Tracking in our Server
				currentViewId = new ObjectId().toString();
				view_params = {"view_id":currentViewId, "remake_id":remakeId, "playback_event":0, "originating_screen":11, "cookie_id":$.cookie('homageCookieID')}
				if (origin_id != "") {
					view_params["origin_id"] = origin_id
				}
				$.post('/remake/view', view_params, function(data,status){
    				playReported = true;
    				stopReported = false;
    				thresholdReported = false;
  				});

				// Tracking in Google Analytics
				if (typeof ga !== 'undefined') ga('send', 'event', 'Videos', 'Started', videoTitle);
			};

			var trackVideoEnd = function(){
				// Tracking in our Server
				$.post('/remake/view', {"view_id":currentViewId, "remake_id":remakeId, "playback_event":1, "originating_screen":11, "total_duration":myPlayer.duration(), "playback_duration":myPlayer.currentTime(), "cookie_id":$.cookie('homageCookieID')}, function(data,status){
    				stopReported = true;
    				playReported = false;
  				});

				// Tracking in Google Analytics
				if (typeof ga !== 'undefined') ga('send', 'event', 'Videos', 'Ended', videoTitle);				
			};

			var trackVideoReachedViewThreshold = function() {
				$.post('/remake/view', {"view_id":currentViewId, "remake_id":remakeId, "playback_event":1, "originating_screen":11, "total_duration":myPlayer.duration(), "playback_duration":myPlayer.currentTime(), "cookie_id":$.cookie('homageCookieID')}, function(data,status){
  				});
			}

			first = true;
			myPlayer.on("play", function() {
				if (first) {
					first = false;
					trackVideoSrart();
				}				
			});

			myPlayer.on("timeupdate" , function() {
				duration = myPlayer.currentTime();
				total_duration = myPlayer.duration();
				if (duration > (total_duration * view_pct_threshold) && !thresholdReported) {
					trackVideoReachedViewThreshold();
					thresholdReported = true;
				}
			});

			myPlayer.on("ended", function() {
				first = true;
				trackVideoEnd();
				myPlayer.posterImage.show();
			});

			function checkViewReportStatus () {
				// Tracking only if we already tracked play and didn'y track stop
  				if (playReported && !stopReported) {
	  				// Tracking in our Server (doing a sync call because the page is about to close)
	  				$.ajax({
				        type: 'POST',
				        async: false,
				        url: '/remake/view',
				        data: {"view_id":currentViewId, "remake_id":remakeId, "playback_event":1, "originating_screen":11, "total_duration":myPlayer.duration(), "playback_duration":myPlayer.currentTime()},
				        complete: function(xhr, status) {
				        	playReported = false;
				        	stopReported = true; 
				        }
				    });

					// Tracking in Google Analytics
					if (typeof ga !== 'undefined') ga('send', 'event', 'Videos', 'Ended', videoTitle);				
  				}

			}
			
			// Event for page unload to track the end of the view
			$(window).bind('beforeunload', function(){
				checkViewReportStatus();
  			});

  			$(".homageAppStoreLink").click(function() {
  				params = {"src": "minisite"}
  				if (origin_id != "") {
					params["origin_id"] = origin_id
				}

			    $.get('/ios', params);
			});

			$(".homagePlayStoreLink").click(function() {
				params = {"src": "minisite"}
  				if (origin_id != "") {
					params["origin_id"] = origin_id
				}
			   $.get('/android', params);
			});

			$(".like_button").click(function(){
				$.post('/remake/like' , {"remake_id": remakeId, "cookie_id": $.cookie('homageCookieID')})
			})

			$(".unlike_button").click(function(){
				$.post('/remake/unlike' , {"remake_id": remakeId, "cookie_id": $.cookie('homageCookieID')})
			})

		});
</script>

