<!DOCTYPE html>
<html lang="en">
<head>
    <title>Rafi</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">

    <!-- BOOTSTRAP AND JQUERY -->
    <link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">  
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

    <!-- VIDEO JS -->
    <link href="http://vjs.zencdn.net/4.8/video-js.css" rel="stylesheet">
    <script src="http://vjs.zencdn.net/4.8/video.js"></script>
    
    <!-- LESS -->
    <link rel="stylesheet/less" type="text/css" href="/less/styles.less">
    <script src="/js/less.js" type="text/javascript"></script>
    <script type="text/javascript">
      less.watch();
    </script>

    <!-- UNTIL MORE ROBUST SOLUTION - NEED TO COMPILE MANUALLY B4 GOING TO PRODUCTION  -->
    <link href="/css/styles.css" rel="stylesheet"/>

    <!-- UTILS -->
    <script src="/js/Objectid.js"></script>
    <script src="/js/jquery.cookie.js"></script>
     <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <!-- REMAKE GALLERY -->
    <link href="/css/jquery.galereya.css" rel="stylesheet"/>
    <script src="/js/jquery.galereya.js"></script>

    

</head>

<body>  
  <!-- header navbar -->
  <nav class="navbar navbar-default" id="hmg-nav-bar" role="navigation">
  <div class="container-fluid">

    <div class="row">
      <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" id="hmg-navbar-toggle-menu" data-toggle="collapse" data-target="#hmg-nav-bar-collapse">
      </button>
      <a class="navbar-brand" id="hmg-header-logo" href="#">
        <img id="hmg-logo-mobile"/>
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="hmg-nav-bar-collapse">
      <ul class="nav navbar-nav">
        <li>
          <a class="app_icon" href="/ios" target="_blank">
            <img id="hmg-appstore-link"/>
          </a>
        </li>
        <li>
          <a class="app_icon" href="/android" target="_blank">
            <img id="hmg-playstore-link"/>
          </a>
        </li>
      </ul>
      
      <ul class="nav navbar-nav navbar-right">
        <li><a id="hmg-header-share" class="header-button" href="#">Share</a></li>
        <li id="share-site-container">
            <a class="header-share-site-button twitter_site_share"></a>
            <a class="header-share-site-button facebook_site_share"></a>
            <a class="header-share-site-button gplus_site_share"></a>
            <a class="header-share-site-button pinterest_site_share"></a>
            <a class="header-share-site-button email_site_share"></a>
        </li>
        <li class="dropdown">
          <a id="hmg-header-login" href="#" class="dropdown-toggle header-button" data-toggle="dropdown" role="button" aria-expanded="false">Login 
            <!-- <img id="hmg-header-login"> -->
            <!-- <span class="caret"></span> -->
          </a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
    </div>
  </div><!-- /.container-fluid -->
</nav>

<div class="row filters tbs-row">
  <div class="col-sm-6 tbs-col">
    <ul class="filter-left">
      <li class="filter-label all-remakes-button"><a class="filter_clickable" href="#">All</a></li>
      <li class="filter-label"><a class="filter_clickable" href="#">My Takes</a></li>
      <li class="filter-label trending-remakes-button"><a class="filter_clickable" href="#">Trending</a></li>
    </ul>
  </div>

  <div class="col-sm-6 tbs-col campaign-stories-col">
    <ul class="filter-right">
      <li class="dropdown filter-label">
        <a href="#" class="dropdown-toggle filter_clickable" data-toggle="dropdown">Campaign Stories<span class="caret"></span></a>
        <ul class="dropdown-menu campaign-stories-dropdown" role="menu">
          <li><a class="all-stories" href="#">All</a></li>
          <% for story in @stories do %>
            <li><a class="single-story" href="#"><%= story["name"] %></a></li>
          <% end %>
        </ul>
      </li>
    </ul>
  </div>
</div>



<div class="row gallery-header">
  <div class="col-sm-6 col-xs-12 col-sm-push-6">
    <div class="campaign-info">
      <div class="campaign-logo">

      </div>

      <a class="campaign-button" href="http://homage.it/" target="_blank" >Go to Homage web site 

      </a>
    </div>
  </div> 

  <div class="col-sm-6 col-xs-12 col-sm-pull-6 tbs-col">
    <div class="campaign-video-container">
      <span class="campaign-video-play-button-container">
         <i class="fa fa-play"> </i>
      </span>
      <div class="videocontent">
        <video id="campaign_video_player" class="video-js vjs-default-skin" width="350" height="200" poster="" controls="controls"  
        data-setup="{}">
        <source src="" type="video/mp4"/>
      </video>
    </div> 
  </div>   
  </div>
</div>

<div class="row gallery tbs-row">
  <div id="gallery-container">

  </div>

</div>

<div class="row footer tbs-row hidden-sm hidden-xs">
  <div class="col-xs-6 tbs-col">
    <ul class="footer-left">
        <li class="footer-label"><a class="filter_clickable" href="#">Powered By Homage</a></li>
        <li class="footer-label"><a class="homage-footer-logo">
          <img id="hmg-footer-logo"/>
        </a>
        </li>
        <li class="footer-label"><a class="filter_clickable" href="#">Privacy Policy</a></li>
        <li class="footer-label"><a class="filter_clickable" href="#">Terms Of Service</a></li>
    </ul>
  </div>

  
  <div class="col-xs-6 tbs-col">
    <ul class="footer-right">
      <li class="footer-label hmg-social-link">
        <a>
          <img id="hmg-fb-link"/>
        </a>
      </li>
      <li class="footer-label hmg-social-link">
        <a>
          <img id="hmg-twitter-link"/>
        </a>
      </li>
      <li class="footer-label hmg-social-link">
        <a>
          <img id="hmg-vimeo-link"/>
        </a>
      </li>
    </ul>
  </div>
</div>


<div class="container-fluid video_overlay tbs-container-fluid">
  <div class="row hidden-xs">
    <div class="close_button"></div>
  </div>
  
  <div class="row">

    <div class="col-sm-2 hidden-xs">

    </div> 

    <div class="col-sm-8">
      <div class="container-fluid tbs-container-fluid overlay-remake-container">
        
        <div class="row remake_header">  
            <div class="col-sm-6 col-xs-12 user_container">
              <div class="user_thumbnail_container">
                 <img class="circular-usr-thumbnail">
              </div>            
              <div class="user_info_container">  
                <div class="main_font_label user_name_label"></div>
                <div class="main_font_label hoverable_element visible-xs more_from_button"></div>
              </div>     
              <div class="close_button visible-xs"></div>
            </div>

            <div class="col-sm-6 hidden-xs">
              <span class="social-count-container">
                <span class="main_font_label social_count_label">
                  <i class="fa fa-heart"> </i>
                  <span class="like_count_label"></span>
                </span>
                <span class="main_font_label social_count_label">
                  <i class="fa fa-eye"> </i>
                  <span class="view_count_label"></span>
                </span>
                <span class="main_font_label social_count_label">
                  <i class="fa fa-share-alt"> </i>
                  <span class="share_count_label"></span>
                </span>             
              </span>
            </div>
        </div>
        
        <div class="row remake_video_content"> 
          <div class="col-xs-12">
            <div class="videocontent">
               <video id="remake_video_player" class="video-js vjs-default-skin" width="auto" height="  auto" poster="" controls="controls"  
                data-setup="{}">
                <source src="" type="video/mp4"/>
            </video>
          </div>
        </div>
           
        </div>
        
        <div class="row visible-xs mobile-social-count-row">
          <div class=" col-xs-12 tbs-col mobile-social-count-column">
            <span class="mobile-social-count-container social-count-container">
                <span class="main_font_label social_count_label like">
                  <i class="fa fa-heart-o"> </i>
                  <span class="like_count_label"></span>
                </span>
                <span class="main_font_label social_count_label view">
                  <i class="fa fa-eye"> </i>
                  <span class="view_count_label"></span>
                </span>
                <span class="main_font_label social_count_label share">
                  <i class="fa fa-share-alt"> </i>
                  <span class="share_count_label"></span>
                </span>             
              </span> 
          </div>
        </div>
        
        <div class="row remake_actions">
          <div class="col-xs-12 tbs-col">
            <span class="mobile-social-count-container social-count-container">
                <span class="main_font_label social_count_label like">
                  <i class="fa"> </i>
                  <span class="like_button"></span>
                </span>
                <span class="main_font_label social_count_label make_your_own">
                  <span class="make_your_own">Make your own</span>
                </span>
                <span class="main_font_label hidden-xs social_count_label more_from">
                  <span class="more_from_button"></span>
                </span>  
                <span class="main_font_label social_count_label flag">
                  <i class="fa fa-flag"> </i>
                  <span class="flag_button"> Flag</span>
                </span>           
            </span> 

           <!--  <a class="secondary_font_label hoverable_element like_button"></a>
            <a class="secondary_font_label hoverable_element make_your_own_button">Make your own</a>
            <a class="secondary_font_label hoverable_element hidden-xs more_from_button"></a>
            <a class="secondary_font_label hoverable_element flag_button">Flag</a> -->
          </div>
        </div>

        <div class="row remake_social_bar">
          <div class="col-xs-12 tbs-col">
            <span class="social-action-container">
                <span class="main_font_label social_count_label share">
                  <span class="make_your_own">Share</span>
                </span>
                <span class="main_font_label social_count_label twitter_share">
                  <i class="fa fa-twitter"> </i>
                </span>
                <span class="main_font_label social_count_label facebook_share">
                  <i class="fa fa-facebook"> </i>
                </span>
                <span class="main_font_label social_count_label gplus_share">
                  <i class="fa fa-google-plus"> </i>
                </span>
                <span class="main_font_label social_count_label pinterest_share">
                  <i class="fa fa-pinterest"> </i>
                </span>
                <span class="main_font_label social_count_label email_share">
                  <i class="fa fa-send"> </i>
                </span>          
            </span> 
            
            <!-- <a class="secondary_font_label">Share</a>
            <a class="secondary_font_label twitter_share"></a>
            <a class="secondary_font_label facebook_share"></a>
            <a class="secondary_font_label gplus_share"></a>
            <a class="secondary_font_label pinterest_share"></a>
            <a class="secondary_font_label email_share"></a> -->
          </div> 
        </div>
      </div>
    </div>

    <div class="col-sm-2 tbs-col hidden-xs">

    </div> 


  </div>
</div>




<script type="text/javascript">

  // SET HOMAGE COOKIE
  cookies = $.cookie();
  if (!cookies["homageCookieID"]) {
    console.log("no homage cookie");
    var cookie_id = new ObjectId().toString();
    $.cookie('homageCookieID', cookie_id, { expires: 365 });
    // $.cookie('like_state' , false , {expires: 365});
  }

  var skip = 0;
  var limit = 30;
  var gallery = null;
  var currentRemake = {};
  var all_remakes = [];
  var currentlyLoadingImgs = false;
  var campaign_id = '<%= @campaign["_id"].to_s %>'
  var share_link_prefix = '<%= @config["share_link_prefix"] %>'
  var view_pct_threshold = '<%= @config["significant_view_pct_threshold"] %>'
  var current_user = null;
  var currently_selected_story = null;
  var current_query_type = null;
  var origin_id  = '<%= @originating_share_id %>'
 

  // share method ENUM
  CopyUrlShareMethod    = 0
  FacebookShareMethod   = 1
  WhatsappShareMethod   = 2
  EmailShareMethod      = 3 
  MessageShareMethod    = 4
  WeiboShareMethod      = 5
  TwitterShareMethod    = 6
  GooglePlusShareMethod = 7
  PinterestShareMethod  = 8

  // remake query type ENUM
  AllQuery      = 0
  StoryQuery    = 1
  MyTakesQuery  = 2
  TrendingQuery = 3

  
  // REMAKE GALLERY

  function fetch_remakes(query_type)
  {
    var single_batch_remakes = [];
    currentlyLoadingImgs = true;
    current_query_type = query_type;

    remakes_cond = {};
    remakes_cond["campaign_id"] = campaign_id;
    remakes_cond["skip"] = skip;
    remakes_cond["limit"] = limit;
    remakes_cond["query_type"] = query_type;
    
    if (query_type == AllQuery) {

    } else if (query_type == StoryQuery) {
      stories = [];
      stories.push(currently_selected_story);
      remakes_cond["stories"] = stories;
    } else if (query_type == TrendingQuery) {

    } else if (query_type == MyTakesQuery) {
      if (current_user != null) {
        remakes_cond["user_id"] = current_user;
      }
    }

    $.get('/remakes', remakes_cond , function(data, status, xhr){
      json_data = $.parseJSON(data)

      for (var i=0;i<json_data.length;i++) {
        remake = json_data[i];

        lowsrc      = remake["thumbnail"];
        fullsrc     = remake["thumbnail"];
        description = i+skip + ": " + remake["_id"]["$oid"];
        category    = remake["story_name"];
        remake_id   = remake["_id"]["$oid"];

        like_count = remake["like_count"] ? remake["like_count"] : 0;
        view_count = remake["views"] ? remake["views"] : 0;
        share_count = remake["share_count"] ? remake["share_count"] : 0;

        info = {lowsrc: lowsrc, fullsrc: fullsrc, description: description, category: category, _id: remake_id, like_count: like_count, view_count: view_count, share_count: share_count}
        if (remake["user_fullname"]) {
          info["user_name"] = remake["user_fullname"];
        }
        
        single_batch_remakes.push(info)
        all_remakes.push(info);
      }

      if (!gallery) {
        gallery = $('#gallery-container').galereya({
          spacing: 30,
          wave: false,
          noCategoryName: 'all stories',
          disableSliderOnClick: true,
          onCellClick: function(e) {
            var selectedCellIndex = gallery.getSelectedCell();
            remake = all_remakes[selectedCellIndex];
            remake_id = remake["_id"]
            showVideoPlayer(remake_id);
          },
          load: function(next) {
            var data = single_batch_remakes;
            next(data);
          },
        });
      } else {
        var data = single_batch_remakes;
        gallery.loadMore(data);
      }

      skip += limit;
      
    });
  }

  $(window).scroll(function() {
      if  ($(window).scrollTop() == $(document).height() - $(window).height()) {
        if (!currentlyLoadingImgs) { 
          fetch_remakes(current_query_type);
        }
      }
  }); 

  function cleanGallery() {
    $('#gallery-container').empty();
      gallery = null;
      skip = 0;
      all_remakes = [];
  }

  $(".campaign-stories-dropdown .single-story").on('click', function(){
      story_name = $(this).text().toString();
      console.log("story:" + story_name);
      currently_selected_story = story_name;
      cleanGallery();
      fetch_remakes(StoryQuery);
   });

  $(".campaign-stories-dropdown .all-stories").on('click', function(){
    cleanGallery();
    fetch_remakes(AllQuery);
  });

  $('.all-remakes-button').on('click', function(e) {
    cleanGallery();
    fetch_remakes(AllQuery);
  });

  $('.trending-remakes-button').on('click', function(e) {
    cleanGallery();
    fetch_remakes(TrendingQuery);
  });

  $('body').on("finished_loading_images", function() {
    currentlyLoadingImgs = false;
    if  ($(window).scrollTop() == $(document).height() - $(window).height()) {
            fetch_remakes(current_query_type);
    }
  });

  $('body').on("gallery_resized" , function() {
    gallery_left_margin = $(".galereya-grid").css('margin-left')
    gallery_right_margin = $(".galereya-grid").css('margin-right')
    $(".campaign-video-container").css('margin-left',gallery_left_margin)
    $(".campaign-info").css('margin-right',gallery_right_margin);
    // $(".header_content_container").width(gallery_new_width);
    // $(".header_content_container").show();
  });

  // prevent right on video players
  $('video').on('contextmenu', function(e) {e.preventDefault();});

  // CAMPAIGN VIDEO PLAYER
  videojs('campaign_video_player').ready(function(){
    var myPlayer = this;
    var campaign_id = '<%= @campaign["_id"].to_s %>'
    var campaign_video = '<%= @campaign["video"].to_s %>'
    var campaign_thumbnail = '<%= @campaign["thumbnail"].to_s %>'
    var currentViewId;
    var first = true;
    var thresholdReported = false;

    var myPlayer = this;
    myPlayer.poster(campaign_thumbnail);
    myPlayer.src(campaign_video);
    myPlayer.posterImage.show();
    //myPlayer.load();

    var trackVideoStart = function(){
      currentViewId = new ObjectId().toString();

      view_params = {"view_id":currentViewId, "campaign_id":campaign_id, "playback_event":0, "originating_screen":11, "cookie_id":$.cookie('homageCookieID')}
      if (origin_id != "") {
        view_params["origin_id"] = origin_id
      }
      $.post('/campaign_video/view', view_params, function(data,status){
          playReported = true;
          stopReported = false;
          thresholdReported = false;
      });
    };

    var trackVideoEnd = function() {
      $.post('/campaign_video/view', {"view_id":currentViewId, "campaign_id":campaign_id, "playback_event":1, "originating_screen":11, "total_duration":myPlayer.duration(), "playback_duration":myPlayer.currentTime(), "cookie_id":$.cookie('homageCookieID')}, function(data,status){
          stopReported = true;
          playReported = false;
        });
    };

    var trackVideoReachedViewThreshold = function() {
      $.post('/campaign_video/view', {"view_id":currentViewId, "campaign_id":campaign_id, "playback_event":1, "originating_screen":11, "total_duration":myPlayer.duration(), "playback_duration":myPlayer.currentTime(), "cookie_id":$.cookie('homageCookieID')}, function(data,status){
        });
    }

    myPlayer.on("play", function() {
      if (first) {
        first = false;
        $(".campaign-video-play-button-container").hide()
        trackVideoStart();
      }       
    });

    myPlayer.on("timeupdate" , function() {
      duration = myPlayer.currentTime();
      total_duration = myPlayer.duration();
      if (duration > (total_duration * view_pct_threshold) && !thresholdReported) {
        trackVideoReachedViewThreshold();
        thresholdReported = true;
      }
    });

    myPlayer.on("ended", function() {
      first = true;
      trackVideoEnd();
      myPlayer.posterImage.show();
      $(".campaign-video-play-button-container").show()
      myPlayer.controls(false);
    });
  });

  // SHARE CONTAINER
  $("#hmg-header-share").on('click', function(e){
    showSiteShareContainer();
  });

  function showSiteShareContainer() {
    $("#hmg-header-share").hide();
    $("#share-site-container").css("display","inline-block");
  }

  function hideSiteShareContainer() {
    $("#hmg-header-share").show();
    $("#share-site-container").css("display","none");
  }

  function reportSiteShare(campaign_id,share_method) {

    info = {"campaign_id":campaign_id,"share_method":share_method}

    $.post('/campaign_site/share', info , function(data,status){
                 
    });
  }

  campaign_id = '<%= @campaign["_id"].to_s %>'
  campaign_video = '<%= @campaign["video"].to_s %>'
  campaign_thumbnail = '<%= @campaign["thumbnail"].to_s %>'
  campaign_share_message = '<%= @campaign["share_message"].to_s %>'
  campaign_share_link = '<%= @campaign["web_link"].to_s %>'

  $(".twitter_site_share").on('click', function(e) {
    twitterShare(campaign_thumbnail,campaign_share_message,campaign_share_link);
    reportSiteShare(campaign_id,TwitterShareMethod);
    hideSiteShareContainer();
  });

  $(".facebook_site_share").on('click', function(e) {
    facebookShare(campaign_thumbnail,campaign_share_message,campaign_share_link);
    reportSiteShare(campaign_id,FacebookShareMethod);
    hideSiteShareContainer();
  });

  $(".gplus_site_share").on('click', function(e) {
    gplusShare(campaign_thumbnail,campaign_share_message,campaign_share_link);
    reportSiteShare(campaign_id,GooglePlusShareMethod);
    hideSiteShareContainer();
  });

  $(".pinterest_site_share").on('click', function(e) {
    pinterestShare(campaign_thumbnail,campaign_share_message,campaign_share_link);
    reportSiteShare(campaign_id,PinterestShareMethod);
    hideSiteShareContainer();
  });

  $(".email_site_share").on('click', function(e) {
    emailShare(campaign_thumbnail,campaign_share_message,campaign_share_link);
    reportSiteShare(campaign_id,EmailShareMethod);
    hideSiteShareContainer();
  });

  $(".email_share").on('click',function(e) {
    thumbnail = currentRemake["thumbnail"];
    share_message = currentRemake["share_message"];
    share_link = reportShare(EmailShareMethod);

    emailShare(thumbnail,share_message,share_link);
  });

  var reportShare = function(share_method){
    // Tracking in our Server
    share_id = new ObjectId().toString();
    share_link = share_link_prefix + "/" + share_id;
    remake_id = currentRemake["remake_id"];

    share_params = {"share_id": share_id, "remake_id":remake_id, "share_method":share_method,
            "share_link": share_link, "cookie_id":$.cookie('homageCookieID')}
    // if (origin_id != "") {
    //   share_params["origin_id"] = origin_id
    // }
    $.post('/remake/share', share_params, 
                 function(data,status){
                 }
    );

    return share_link;
  };

 // Share.prototype.network_email = function() {
 //    return this.popup('mailto:', {
 //      subject: this.config.networks.email.title,
 //      body: this.config.networks.email.description
 //    });
 //  };

  $(".facebook_share").on('click',function(e){
    thumbnail = currentRemake["thumbnail"];
    share_message = currentRemake["share_message"];
    share_link = reportShare(FacebookShareMethod);
     // method: 'feed',
     //    name: this.config.networks.facebook.title,
     //    link: this.config.networks.facebook.url,
     //    picture: this.config.networks.facebook.image,
     //    caption: this.config.networks.facebook.caption,
     //    description: this.config.networks.facebook.description

    facebookShare(thumbnail,share_message,share_link);
  });

  $(".twitter_share").on('click', function(e) {
    thumbnail = currentRemake["thumbnail"];
    share_message = currentRemake["share_message"];
    share_link = reportShare(TwitterShareMethod);

    twitterShare(thumbnail,share_message,share_link);
  });

  $(".gplus_share").on('click', function(e) {
    thumbnail = currentRemake["thumbnail"];
    share_message = currentRemake["share_message"];
    share_link = reportShare(GooglePlusShareMethod);
    
    gplusShare(thumbnail,share_message,share_link);
  });

   $(".pinterest_share").on('click', function(e) {
    thumbnail = currentRemake["thumbnail"];
    share_message = currentRemake["share_message"];
    share_link = reportShare(PinterestShareMethod);
    
    pinterestShare(thumbnail,share_message,share_link);
   });


  var is_encoded = function(str) {
    return decodeURIComponent(str) !== str;
  };

  var encode = function(str) {
    if (is_encoded(str)) {
      return str;
    } else {
      return encodeURIComponent(str);
    }
  };

  var open_popup = function(url, params) {
    var k, popup, qs, v;
    if (params == null) {
      params = {};
    }
    popup = {
      width: 500,
      height: 350
    };
    popup.top = (screen.height / 2) - (popup.height / 2);
    popup.left = (screen.width / 2) - (popup.width / 2);
    qs = ((function() {
      var _results;
      _results = [];
      for (k in params) {
        v = params[k];
        _results.push("" + k + "=" + (encode(v)));
      }
      return _results;
    }).call(this)).join('&');
    if (qs) {
      qs = "?" + qs;
    }
    return window.open(url + qs, 'targetWindow', "toolbar=no,location=no,status=no,menubar=no,scrollbars=yes,resizable=yes,left=" + popup.left + ",top=" + popup.top + ",width=" + popup.width + ",height=" + popup.height);
  };


  function emailShare(thumbnail,share_message,share_link) {
    open_popup('mailto:', {
      subject: share_message,
      body: share_link
    });
  }

  function facebookShare(thumbnail,share_message,share_link) {
    FB.ui(
     {
      method: 'feed',
      picture: thumbnail,
      description: share_message,
      link: share_link,
      href: share_link
    }, function(response){

        }
    );
  }

  function twitterShare(thumbnail,share_message,share_link) {
    open_popup('https://twitter.com/intent/tweet', {
      text: share_message,
      url: share_link
    });

  }

  function gplusShare(thumbnail,share_message,share_link) {
    open_popup('https://plus.google.com/share', {
      url: share_link
    });
  }

  function pinterestShare(thumbnail,share_message,share_link) {
    open_popup('https://www.pinterest.com/pin/create/button', {
      url: share_link,
      media: thumbnail,
      description: share_message
    });
  }

  // REMAKE VIDEO PLAYER OVERLAY 

  // dismiss remake overlay upon pressing everywhere / close button
  $(document).on('click tap','.video_overlay',function(e){
    if($(e.target).is('.video_overlay') || $(e.target).is('.close_button') || $(e.target).is('.row')) {
      var myPlayer = videojs('remake_video_player');
      myPlayer.pause();
      $('.video_overlay').hide();
      currentRemake = {};
      document.body.style.overflow = 'auto';
      myPlayer.trigger('ended');
    }
  });

  videojs('remake_video_player').ready(function() {
    var myPlayer = this;
    var currentViewId;
    var first = true;
    var thresholdReported = false;
    
    var trackVideoStart = function(){
        currentViewId = new ObjectId().toString();
        
        if (currentRemake["remake_id"] == null) return;

        remake_id = currentRemake["remake_id"];

        // impressionId = new ObjectId().toString();
        // impression_params = {"impression_id":impressionId, "remake_id":remake_id, "playback_event":0, "originating_screen":11, "cookie_id":$.cookie('homageCookieID')}
        // if (origin_id != "") {
        //   impression_params["origin_id"] = origin_id
        // }
        
        // $.post('/remake/impression', impression_params , function(data,status){
                 
        // });

        view_params = {"view_id":currentViewId, "remake_id":remake_id, "playback_event":0, "originating_screen":11, "cookie_id":$.cookie('homageCookieID')}
        if (origin_id != "") {
          view_params["origin_id"] = origin_id
        }
        $.post('/remake/view', view_params, function(data,status){
            // playReported = true;
            // stopReported = false;
            thresholdReported = false;
          });
    };

    var trackVideoEnd = function() {
      if (currentRemake["remake_id"] == null) return;

      remake_id = currentRemake["remake_id"];
      $.post('/remake/view', {"view_id":currentViewId, "remake_id":remake_id, "playback_event":1, "originating_screen":11, "total_duration":myPlayer.duration(), "playback_duration":myPlayer.currentTime(), "cookie_id":$.cookie('homageCookieID')}, function(data,status){
          // stopReported = true;
          // playReported = false;
        });
    };

    var trackVideoReachedViewThreshold = function() {
      if (currentRemake["remake_id"] == null) return;

      remake_id = currentRemake["remake_id"];

      $.post('/remake/view', {"view_id":currentViewId, "remake_id":remake_id, "playback_event":1, "originating_screen":11, "total_duration":myPlayer.duration(), "playback_duration":myPlayer.currentTime(), "cookie_id":$.cookie('homageCookieID')}, function(data,status){
        });
    }

    myPlayer.on("play", function() {
      if (first) {
        first = false;
        trackVideoStart();
      }       
    });

    myPlayer.on("timeupdate" , function() {
      duration = myPlayer.currentTime();
      total_duration = myPlayer.duration();
      if (duration > (total_duration * view_pct_threshold) && !thresholdReported) {
        trackVideoReachedViewThreshold();
        thresholdReported = true;
      }
    });

    myPlayer.on("ended", function() {
      first = true;
      trackVideoEnd();
      myPlayer.posterImage.show();
    });
       
    <% if @remake  %>
      var remake_id = '<%= @remake["_id"] %>'
      showVideoPlayer(remake_id)
    <% end %>
  });

  function showVideoPlayer(remake_id) {
    campaign_video_player = videojs('campaign_video_player');
    if (!campaign_video_player.paused()) {
      campaign_video_player.pause();
      campaign_video_player.currentTime(0);
      campaign_video_player.trigger('ended');
      // campaign_video_player.posterImage.show();
    }
    
    impressionId = new ObjectId().toString();
    impression_params = {"impression_id":impressionId, "remake_id":remake_id, "playback_event":0, "originating_screen":11, "cookie_id":$.cookie('homageCookieID')}
    if (origin_id != "") {
      impression_params["origin_id"] = origin_id
    }
    
    $.post('/remake/impression', impression_params , function(data,status){
             
    });

    path = '/remake/' + remake_id.toString();

    params = {}
    if ($.cookie('homageCookieID')) {
      params["cookie_id"] = $.cookie('homageCookieID') 
    }

    $.get(path, params , function(data, status, xhr){
        json_data = $.parseJSON(data);
      
        currentRemake["remake_id"] = remake_id.toString();

        thumbnail = json_data["thumbnail"].toString();
        share_message = json_data["share_message"] ? json_data["share_message"] : "";
        video = json_data["video"].toString();
        user_fullname = json_data["user_fullname"] ? json_data["user_fullname"] : "this user";

        like_count = json_data["like_count"] ? json_data["like_count"] : 0;
        view_count = json_data["views"] ? json_data["views"] : 0;
        share_count = json_data["share_count"] ? json_data["share_count"] : 0;
        is_liked = json_data["is_liked"] ? json_data["is_liked"] : false;

        toogleLikeButton(is_liked);

        $('.more_from_button').text("More from " + user_fullname);
        $('.user_name_label').text(user_fullname);
        $('.like_count_label').text(" " + like_count);
        $('.view_count_label').text(" " + view_count);
        $('.share_count_label').text(" " + share_count);

        currentRemake["thumbnail"] = thumbnail;
        currentRemake["share_message"] = share_message;

        var stopReported = false;
        var playReported = false;

        var myPlayer = videojs('remake_video_player');

        myPlayer.poster(thumbnail);
        myPlayer.src(video);
        myPlayer.posterImage.show();
        myPlayer.play();
        var overlay = $('video_overlay');
        $('.video_overlay').show();
        document.body.style.overflow = 'hidden';
    });
  }

  // like button logic
  function toogleLikeButton(is_liked) {
    if (is_liked) {
      $('.like_button').addClass('liked_state')
      $('.like_button').text("Unlike")
      $('.like_button').removeClass('unliked_state')
      $('.remake_actions .like i').addClass('fa-heart')
      $('.remake_actions .like i').removeClass('fa-heart-o')



    } else {
      $('.like_button').addClass('unliked_state')
      $('.like_button').text("Like")
      $('.like_button').removeClass('liked_state')
      $('.remake_actions .like i').addClass('fa-heart-o')
      $('.remake_actions .like i').removeClass('fa-heart')
    }
  }

  $('.like_button').on('click', function(e) {
    console.log("like clicked");

    like_params = {}
    like_params["remake_id"] = currentRemake["remake_id"];
    if ($.cookie('homageCookieID')) like_params["cookie_id"] = $.cookie('homageCookieID');

    if ($('.like_button').hasClass('unliked_state')) {
      toogleLikeButton(true);
      $.post('/remake/like' , like_params)

    } else if ($('.like_button').hasClass('liked_state')) {
      toogleLikeButton(false);
      $.post('/remake/unlike' , like_params)
    }
  });

  // MAIN
  fetch_remakes(AllQuery);

</script>

</body>


