<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= @campaign["share_message"] %></title>
    <link rel="icon" href='<%= @campaign["favicon"] %>' type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">


    <% if @story then %>
      <meta name="description" content='<%= @story["share_message"] %>'>
      <meta property="og:title" content='<%= @story["share_message"] %> '/>
      <meta name="twitter:title" content='<%= @story["share_message"] %> '/>
    <% end %>

    <% if @remake then %>
      <meta property="og:image" content='<%= @remake["thumbnail"] %>'/>
      <meta name="twitter:image" content='<%=  @remake["thumbnail"] %>'/>
    <% end %>

    <% if @config["mixpanel_token"] then %>
      <!-- start Mixpanel -->
      <script type="text/javascript">(function(f,b){if(!b.__SV){var a,e,i,g;window.mixpanel=b;b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.track_charge people.clear_charges people.delete_user".split(" ");
      for(g=0;g<i.length;g++)f(c,i[g]);b._i.push([a,e,d])};b.__SV=1.2;a=f.createElement("script");a.type="text/javascript";a.async=!0;a.src="//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js";e=f.getElementsByTagName("script")[0];e.parentNode.insertBefore(a,e)}})(document,window.mixpanel||[]);
      mixpanel.init('<%= @config["mixpanel_token"] %>');</script><!-- end Mixpanel -->
    <% end %>
    
    <meta property="og:site_name" content="Homage"/>
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:site" content="@homagination"/>
    <meta name="twitter:creator" content="@homagination"/>


    <!-- BOOTSTRAP AND JQUERY -->
    <link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">  
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

    <!-- VIDEO JS -->
    <link href="http://vjs.zencdn.net/4.8/video-js.css" rel="stylesheet">
    <script src="http://vjs.zencdn.net/4.8/video.js"></script>
    <script src="/js/youtube.js"></script>

    <!-- REMAKE GALLERY -->
    <!-- <link href="/css/jquery.galereya.css" rel="stylesheet"/> -->
    <!-- <script src="/js/jquery.galereya.js"></script> -->
    <script src="/js/masonry.pkgd.js"></script>
    <script src="/js/imagesloaded.pkgd.js"></script>
    
    <!-- LESS -->
    <link rel="stylesheet/less" type="text/css" href="/less/<%= @campaign["name"] %>.less">
    <script src="/js/less.js" type="text/javascript"></script>
    <script type="text/javascript">
      less.watch();
    </script>

    <!-- UNTIL MORE ROBUST SOLUTION - NEED TO COMPILE MANUALLY B4 GOING TO PRODUCTION  -->
    <!-- <link href="/css/<%= @campaign["name"] %>.css" rel="stylesheet"/>  -->

    <!-- UTILS -->
    <script src="/js/Objectid.js"></script>
    <script src="/js/jquery.cookie.js"></script>
     <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    
    <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '447743458659084',
          xfbml      : true,
          version    : 'v2.2'
        });
      };

      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "//connect.facebook.net/en_US/sdk.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));
    </script>
</head>

<body>  
  
  <div class="container-fluid tbs-container-fluid header-filter-container">

  <!-- ++++++++++++++++++++++++++ MINISITE HEADER++++++++++++++++++++++++++++++++++++ -->
  <nav class="navbar navbar-default" id="hmg-nav-bar" role="navigation">
  <div class="container-fluid tbs-container-fluid">

    <div class="tbs-row">
      <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" id="hmg-navbar-toggle-menu" data-toggle="collapse" data-target="#hmg-nav-bar-collapse">
        <i class="fa fa-bars"> </i>
      </button>
      <a class="navbar-brand hidden-lg hidden-md" id="hmg-header-logo" href="#">
        <span id="hmg-logo-mobile"/>
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="hmg-nav-bar-collapse">
      <ul class="nav navbar-nav">
        <li>
          <a class="app-icon" href="/ios" target="_blank">
            <span id="hmg-appstore-link"/>
          </a>
        </li>
        <li>
          <a class="app-icon" href="/android" target="_blank">
            <span id="hmg-playstore-link"/>
          </a>
        </li>
      </ul>
      
      <ul class="nav navbar-nav navbar-right">
        <li><a id="hmg-header-share" class="bold-font-label header-button" href="#">Share</a></li>
        <li id="share-site-container">
          <span class="main-font-label hoverable-element twitter_site_share">
            <i class="fa fa-twitter"> </i>
          </span>
          <span class="main-font-label hoverable-element facebook_site_share">
            <i class="fa fa-facebook"> </i>
          </span>
          <span class="main-font-label hoverable-element gplus_site_share">
            <i class="fa fa-google-plus"> </i>
          </span>
          <span class="main-font-label hoverable-element pinterest_site_share">
            <i class="fa fa-pinterest"> </i>
          </span>
          <span class="main-font-label hoverable-element email_site_share">
            <i class="fa fa-send"> </i>
          </span>
        </li>
        <li class="dropdown hidden-lg hidden-md hidden-sm hidden-xs">
          <a id="hmg-header-login" href="#" class="dropdown-toggle bold-font-label header-button" data-toggle="dropdown" role="button" aria-expanded="false">Login 
            <!-- <img id="hmg-header-login"> -->
            <!-- <span class="caret"></span> -->
          </a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
    </div>
  </div><!-- /.container-fluid -->
</nav>
</div>

<div class="container-fluid tbs-container-fluid gallery-container">
<!-- +++++++++++++++++++++++++++++++++++ MINISITE STORIES FILTERS++++++++++++++++++++++++++++ -->




<!-- ++++++++++++++++++++++ CAMAPIGN VIDEO GALLERY  ++++++++++++++++++++++++++++++++++++++ -->


<div class="row gallery-row tbs-row">
  <div class="container-fluid tbs-container-fluid scrolable-gallery">
    <div class="row filters tbs-row">
      <div class="col-sm-6 tbs-col">
        <ul class="filter-left">
          <li class="filter-label all-remakes-button"><a class="clickable-link" href="#">All</a></li>
          <!-- <li class="filter-label my-takes-button"><a class="clickable-link" href="#">My Takes</a></li> -->
          <li class="filter-label trending-remakes-button"><a class="clickable-link" href="#">Popular</a></li>
        </ul>
      </div>

      <div class="col-sm-6 tbs-col campaign-stories-col">
        <ul class="filter-right">
          <li class="dropdown filter-label">
            <a href="#" class="dropdown-toggle hmg-dropdown-toggle-stories clickable-link" data-toggle="dropdown">Select By<span class="caret"></span></a>
            <ul class="dropdown-menu campaign-stories-dropdown" role="menu">
              <li><a class="all-stories" href="#">All</a></li>
              <% for story in @stories do %>
                <li><a class="single-story" href="#"><%= story["name"] %></a></li>
              <% end %>
            </ul>
          </li>
        </ul>
      </div>
    </div>  

    <div class="row tbs-row banner">
      <div class="right col-sm-6 col-xs-12 col-sm-push-6 tbs-col">
        <div class="campaign-video-container">
          <span class="campaign-video-play-button-container">
           <i class="fa fa-play"> </i>
          </span>
          <div class="videocontent">
                <!-- <video id="campaign_video_player" class="video-js vjs-default-skin" width="320" height="180" poster="" controls="controls"  
                data-setup="{}">
                <source src="" type="video/mp4"/>
                </video> -->
                <video id='campaign_video_player' src='' class='video-js vjs-default-skin' controls ytcontrols="true" autoplay='autoplay' preload='auto' width='320' height='180'>
                </video>
          </div>
        </div>
      </div> 

      <div class="left col-sm-6 col-xs-12 hidden-sm hidden-xs col-sm-pull-6 tbs-col">
        <div class="campaign-info">
          <div class="campaign-logo">

          </div>

          <a class="bold-font-label campaign-button" href="http://homage.it/" target="_blank" >Go to Homage web site 
          </a>
        </div> 
      </div>
    </div>
    
    <div class="row tbs-row gallery">
      <div id="masonry-gallery-container">

      </div>
  </div>
    </div>
  </div>
</div>


 
<!-- ++++++++++++++++++++++++++++++++++ MINISITE FOOTER ++++++++++++++++++++++++++++++++++++++++++++++ -->
<div class="row footer tbs-row hidden-xs">
  <div class="col-xs-4 tbs-col">
    <ul class="footer-left">
        <li class="footer-label"><a class="clickable-link hmg-footer-text">Powered With</a></li>
        <li class="footer-label"><a class="clickable-link" href="http://www.homage.it" target="_blank">
          <span id="hmg-footer-logo"/>
        </a>
        </li>
        <li class="footer-label"><a class="clickable-link" href="/privacy" target="_blank">Privacy Policy</a></li>
        <li class="footer-label"><a class="clickable-link" href="/terms_of_service" target="_blank">Terms Of Service</a></li>
    </ul>
  </div>

  
  <div class="col-xs-4 tbs-col">
    <div class="hmg-customer-footer-info footer-middle">
      <a class="logo" href='<%=@campaign["primary_link"]%>' target="_blank">
        <span/>
      </a>
      <div class="textinfo">&#169;2014-2015 Smartoonz Ltd. Monkey See Monkey Do. All rights reserved 
      </div>
    </div>
  </div>

  <div class="col-xs-4 tbs-col">
    <ul class="footer-right">
      <li class="footer-label fb-label hmg-social-link">
        <a class="hoverable-element" href='<%=@campaign["facebook_link"]%>' target="_blank">
          <i class="fa fa-facebook hmg-facebook"> </i>
        </a>
      </li>
      <li class="footer-label twitter-label hmg-social-link">
        <a class="hoverable-element" href='<%=@campaign["twitter_link"]%>' target="_blank">
          <i class="fa fa-twitter hmg-twitter"> </i>
        </a>
      </li>
      <li class="footer-label tumblr-label hmg-social-link">
        <a class="hoverable-element" href='<%=@campaign["tumblr_link"]%>' target="_blank">
          <i class="fa fa-tumblr hmg-tumblr"> </i>
        </a>
      </li>
      <li class="footer-label youtube-label hmg-social-link">
        <a class="hoverable-element" href='<%=@campaign["youtube_link"]%>' target="_blank">
          <i class="fa fa-youtube-play hmg-youtube"> </i>
        </a>
      </li>
    </ul>
  </div>
</div>


<!-- ++++++++++++++++++++++++++++++++++ SINGLE REMAKE VIDEO OVERLAY ++++++++++++++++++++++++++++++++++++++++ -->
<div class="container-fluid video-overlay tbs-container-fluid">
  <div class="row tbs-row hidden-xs">
    <i class="fa close-button fa-close"> </i> 
    <!-- <div class="close-button"></div> -->
  </div>
  
  <div class="row tbs-row">

    <div class="col-sm-2 hidden-xs">

    </div> 

    <div class="col-sm-8 ">
      <div class="container-fluid tbs-container-fluid remake-container">
        
        <div class="row tbs-row remake-header">  
            <div class="col-sm-6 col-xs-12 user-container">
              <div class="user-thumbnail-container">
                 <span class="circular-usr-thumbnail">
              </div>            
              <div class="user-info-container">  
                <div class="main-font-label user-name-label"></div>
                <!-- <div class="main-font-label hoverable-element visible-xs more-from-button"></div> -->
              </div>    
              <i class="fa close-button fa-close visible-xs"> </i> 
              <!-- <div class="close-button visible-xs"></div> -->
            </div>

            <div class="col-sm-6 hidden-xs">
              <span class="general-purpose-overlay-container">
                <span class="main-font-label general-overlay-label">
                  <i class="fa fa-heart"> </i>
                  <span class="like-count-label"></span>
                </span>
                <span class="main-font-label general-overlay-label">
                  <i class="fa fa-eye"> </i>
                  <span class="view-count-label"></span>
                </span>
                <span class="main-font-label general-overlay-label">
                  <i class="fa fa-share-alt"> </i>
                  <span class="share-count-label"></span>
                </span>             
              </span>
            </div>
        </div>
        
        <div class="row overlay-video-row"> 
          <div class="col-xs-12">
            <div class="videocontent">
              <video id="remake_video_player" class="video-js vjs-default-skin" width="auto" height="  auto" poster="" controls="controls"  
                  data-setup="{}">
                  <source src="" type="video/mp4"/>
              </video>

              <div class="movie-finished-overlay general-purpose-overlay-container"> 
                <span class="movie-finished-text">
                  <div class="movie-finished-text-header main-font-label general-overlay-label subject"><%= @campaign["minisite_assets"]["video_overlay_finish_message_title"] %></div>
                  <div class="movie-finished-text-content main-font-label general-overlay-label content"><%= @campaign["minisite_assets"]["video_overlay_finish_message_text"] %></div>
                </span>

                <span class="movie-finished-actions">
                  <!-- <span class="main-font-label hoverable-element general-overlay-label make-your-own">
                    <span class="make-your-own-button">Make your own</span>
                  </span> -->
                  <span class="social-action-container">
                    <span class="main-font-label general-overlay-label share">
                      <span>Share the video:   </span>
                    </span>
                    <span class="main-font-label hoverable-element twitter_share">
                      <i class="fa fa-twitter"> </i>
                    </span>
                    <span class="main-font-label hoverable-element facebook_share">
                      <i class="fa fa-facebook"> </i>
                    </span>
                    <span class="main-font-label hoverable-element gplus_share">
                      <i class="fa fa-google-plus"> </i>
                    </span>
                    <span class="main-font-label hoverable-element pinterest_share">
                      <i class="fa fa-pinterest"> </i>
                    </span>
                    <span class="main-font-label hoverable-element email_share">
                      <i class="fa fa-send"> </i>
                    </span>
                  </span>          
                </span>

                <span class="app-icons-container">
                  <div class="general-overlay-label main-font-label">Or get busy:</div>
                  <a class="app-icon" href="/ios" target="_blank">
                    <span id="hmg-appstore-link"/>
                  </a>
                  <a class="app-icon" href="/android" target="_blank">
                    <span id="hmg-playstore-link"/>
                  </a>
                </span>
              </div>
            </div>

           
          </div>  
        </div>
        
        <div class="row tbs-row visible-xs mobile-social-counters-row">
          <div class="col-xs-12 tbs-col mobile-social-counters-column">
            <span class="general-mobile-overlay-container general-purpose-overlay-container">
                <span class="main-font-label general-overlay-label like">
                  <i class="fa fa-heart-o"> </i>
                  <span class="like-count-label"></span>
                </span>
                <span class="main-font-label general-overlay-label view">
                  <i class="fa fa-eye"> </i>
                  <span class="view-count-label"></span>
                </span>
                <span class="main-font-label general-overlay-label share">
                  <i class="fa fa-share-alt"> </i>
                  <span class="share-count-label"></span>
                </span>             
              </span> 
          </div>
        </div>
        
        <div class="row tbs-row remake-actions">
          <div class="col-xs-12 tbs-col">
            <span class="general-mobile-overlay-container general-purpose-overlay-container">
                <span class="main-font-label hoverable-element general-overlay-label like">
                  <i class="fa"> </i>
                  <span class="like-button"></span>
                </span>
                <!-- <span class="main-font-label hoverable-element general-overlay-label make-your-own">
                  <span class="make-your-own-button">Make your own</span>
                </span>
                <span class="main-font-label hoverable-element hidden-xs general-overlay-label more-from">
                  <span class="more-from-button"></span>
                </span>   -->
                <span class="main-font-label hoverable-element general-overlay-label flag">
                  <i class="fa fa-flag"> </i>
                  <span class="flag-button"> Flag</span>
                </span>           
            </span> 
          </div>
        </div>

        <div class="row tbs-row remake-social-bar">
          <div class="col-xs-12 tbs-col">
            <span class="social-action-container">
                <span class="main-font-label share">
                  <span>Share</span>
                </span>
                <span class="main-font-label hoverable-element twitter_share">
                  <i class="fa fa-twitter"> </i>
                </span>
                <span class="main-font-label hoverable-element facebook_share">
                  <i class="fa fa-facebook"> </i>
                </span>
                <span class="main-font-label hoverable-element gplus_share">
                  <i class="fa fa-google-plus"> </i>
                </span>
                <span class="main-font-label hoverable-element pinterest_share">
                  <i class="fa fa-pinterest"> </i>
                </span>
                <span class="main-font-label hoverable-element email_share">
                  <i class="fa fa-send"> </i>
                </span>          
            </span> 
          </div> 
        </div>
      </div>
    </div>

    <div class="col-sm-2 tbs-col hidden-xs">

    </div> 


  </div>
</div>

<div class="background_image">

</div>

<!-- Modal -->
<div class="modal fade" id="hmg-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Report as inappropriate</h4>
      </div>
      <div class="modal-body">
        Are you sure you want to flag this clip?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default dismiss-button" data-dismiss="modal">No</button>
        <button type="button" class="btn btn-primary confirm-button">Yes</button>
      </div>
    </div>
  </div>
</div>


<script type="text/javascript">

  // SET HOMAGE COOKIE
  cookies = $.cookie();
  if (!cookies["homageCookieID"]) {
    var cookie_id = new ObjectId().toString();
    $.cookie('homageCookieID', cookie_id, { expires: 365 });
    // $.cookie('like_state' , false , {expires: 365});
  }

  var skip = 0;
  var limit = 30;
  var gallery = null;
  var currentRemake = {};
  var all_remakes = [];
  var currentlyLoadingImgs = false;
  var firstGalleryLoad = true;
  var campaign_id = '<%= @campaign["_id"].to_s %>'
  var share_link_prefix = '<%= @config["share_link_prefix"] %>'
  var view_pct_threshold = '<%= @config["significant_view_pct_threshold"] %>'
  var current_user = null;
  var currently_selected_story = null;
  var current_query_type = null;
  var origin_id  = '<%= @originating_share_id.to_s %>'
  var msnry = null;
 

  // share method ENUM
  CopyUrlShareMethod    = 0
  FacebookShareMethod   = 1
  WhatsappShareMethod   = 2
  EmailShareMethod      = 3 
  MessageShareMethod    = 4
  WeiboShareMethod      = 5
  TwitterShareMethod    = 6
  GooglePlusShareMethod = 7
  PinterestShareMethod  = 8

  // remake query type ENUM
  AllQuery      = 0
  StoryQuery    = 1
  MyTakesQuery  = 2
  TrendingQuery = 3

  // SUPER PROPERTIES FOR MIXPANEL
  if (typeof mixpanel != "undefined" ) {
    mixpanel.register({
          "campaign_id": campaign_id,
    });  
  }

  function adjustGallerySize() {
    window_height = $(window).height();
    // filter_height = parseInt($('.filters').css('height'));
    // footer_height = $('.footer').is(":visible") ? parseInt($('.footer').css('height')) : 0 ;
    // header_height = parseInt($('#hmg-nav-bar').css('height'));
    // gallery_height = window_height - filter_height - footer_height - header_height;
    $('.scrolable-gallery').css('height' , window_height + 'px');
  }

  $(window).resize( function() {
    adjustGallerySize();
  });
  

  // REMAKE GALLERY

  function fetch_remakes(query_type, container) {
       
        var single_batch_remakes = [];
        currentlyLoadingImgs = true;
        current_query_type = query_type;

        remakes_cond = {};
        remakes_cond["campaign_id"] = campaign_id;
        remakes_cond["skip"] = skip;
        remakes_cond["limit"] = limit;
        remakes_cond["query_type"] = query_type;
        
        if (query_type == AllQuery) {

        } else if (query_type == StoryQuery) {
          stories = [];
          stories.push(currently_selected_story);
          remakes_cond["stories"] = stories;
        } else if (query_type == TrendingQuery) {

        } else if (query_type == MyTakesQuery) {
            if (current_user != null) {
                remakes_cond["user_id"] = current_user;
            }
        }

        var container = document.querySelector('#masonry-gallery-container');

        if (!msnry) {
          msnry = $(container).masonry({
            columnWidth: 320,
            itemSelector: '.hmg-gallery-cell',
            isFitWidth: true,
            gutter: 30
          });

          $(container).masonry( 'on', 'layoutComplete' , function() {
            // msnry.on( 'layoutComplete', function() {
              gallery_left_margin = parseInt($("#masonry-gallery-container").css('margin-left'))
              gallery_right_margin = parseInt($("#masonry-gallery-container").css('margin-right'))

              // gallery_right_margin += 30;
              $(".campaign-info").css('margin-left',gallery_left_margin + 'px')
              $(".campaign-video-container").css('margin-right',gallery_right_margin + 'px');
            });

            imagesLoaded( container, function() {
              msnry.masonry();
            });
        }

        $.get('/remakes', remakes_cond , function(data, status, xhr){
          json_data = $.parseJSON(data)
          removeSpinnerCell();
          
          for (var i=0;i<json_data.length;i++) {
            remake = json_data[i];
            currentlyLoadingImgs = false;
            index = skip + i;

            var current_cell = $('<div class="hmg-gallery-cell" data-index="' + index + '"></div>');
            // $('#masonry-gallery-container').append()

            // jq_selector = ".hmg-gallery-cell[data-index=" + index + "]"
            // current_cell = $(jq_selector);

            src = remake["thumbnail"];
            var $img = $(document.createElement('img')).attr('src', src);
            $img.addClass('galereya-cell-img');
            current_cell.append($img);

            user_name = remake["user_fullname"] ? remake["user_fullname"] : "Guest";
            like_count = remake["like_count"] ? remake["like_count"] : 0;
            view_count = remake["views"] ? remake["views"] : 0;
            share_count = remake["share_count"] ? remake["share_count"] : 0;

            current_cell.append('<div class="galereya-cell-play-button-container">\
                                    <span class="main-font-label social_count_label play">\
                                        <i class="fa fa-play"> </i>\
                                    </span>\
                                </div>')
            .append('<div class="galereya-cell-desc">\
                        <div class="galereya-cell-desc-title">\
                            <span class="user-thumbnail-container">\
                                <span class="circular-usr-thumbnail"></span>\
                            </span>\
                            <span class="main-font-label user-name">' + user_name + '</span>\
                            <span class="main-font-label social_count_label like">\
                              <i class="fa fa-heart-o"> </i>\
                              <span>' + like_count + '</span>\
                            </span>\
                            <span class="main-font-label social_count_label view">\
                              <i class="fa fa-eye"> </i>\
                              <span>' + view_count + '</span>\
                            </span>\
                            <span class="main-font-label social_count_label share">\
                              <i class="fa fa-share-alt"> </i>\
                              <span>' + share_count + '</span>\
                            </span>\
                        </div>\
                        <div class="galereya-cell-desc-text">\
                            <span class="main-font-label social_count_label like">\
                              <i class="fa fa-heart-o"> </i>\
                              <span> Like</span>\
                            </span>\
                            <span class="main-font-label social_count_label play">\
                              <i class="fa fa-play"> </i>\
                            </span>\
                            <span class="main-font-label social_count_label flag">\
                              <i class="fa fa-flag"> </i>\
                              <span> Flag</span>\
                            </span>\
                        </div>\
                    </div>')
            .append('<div class="galereya-cell-overlay" />');

            msnry.append(current_cell);
            msnry.masonry('appended', current_cell);

            info = {_id: remake["_id"], like_count: like_count, view_count: view_count, share_count: share_count}
       
            single_batch_remakes.push(info)
            all_remakes.push(info);
        }

        skip += limit;
        msnry.masonry();
        $('.hmg-gallery-cell').on('click' , function() {
          remake_index = $(this).attr("data-index");
          remake = all_remakes[remake_index];
          if (remake["_id"])
          {
            remake_id = remake["_id"]["$oid"]
            showVideoPlayer(remake_id)
          }
        })

        });      
    }

    // $('.wrapper').css('height' , $(window).height() + 'px');

    function elementScrolledToEnd(jq_element) {
        if(jq_element.scrollTop() + jq_element.innerHeight() >= jq_element[0].scrollHeight) {
          return true;
        }
        return false; 
    }

    function showHideFilters(jq_element) {
      if ($(window).width() < 767) {
        return;
      }
      if (jq_element.scrollTop() > 100) { 
        $('.filters').show();
        // $('.gallery-container').css('padding-top','170px')
      } else {
        $('.filters').hide();
        // $('.gallery-container').css('padding-top','140px')
      }
    }

    function addSpinnerCell() {
        $('#masonry-gallery-container').append('<div class="hmg-gallery-cell spinner-cell"></div>')
        spinner = $('.spinner-cell').append('<i class="fa fa-refresh fa-spin"></i>');
        msnry.masonry('appended', spinner).masonry();
    }

    function removeSpinnerCell() {
        msnry.masonry('remove', $('.spinner-cell')).masonry();
    }

    
    $('.scrolable-gallery').scroll(function() {
      //showHideFilters($('.scrolable-gallery'));
      if (elementScrolledToEnd($('.scrolable-gallery'))) {
        if (!currentlyLoadingImgs) { 
          addSpinnerCell();
          fetch_remakes(current_query_type);
        }
      }


    });

    $.fn.populateGallery = function (query_type) {
      fetch_remakes(query_type);
    }

    $.fn.cleanGallery = function() {
      this.masonry( 'remove', this.find('.hmg-gallery-cell')).masonry();
      skip = 0;
      all_remakes = [];
      return this;
    };

  // STORIES DROPDOWN HANDLERS

  var delay = 1500

  $(".campaign-stories-dropdown .single-story").on('click', function(){
      story_name = $(this).text().toString();
      $('.hmg-dropdown-toggle-stories').html(story_name +' <span class="caret"></span>');
      currently_selected_story = story_name;
      
      // cleanGallery();
      // setTimeout(function() {fetch_remakes(StoryQuery)} , delay);
      $('#masonry-gallery-container').cleanGallery().populateGallery(StoryQuery);
   });

  $(".campaign-stories-dropdown .all-stories").on('click', function(){
    // cleanGallery();
    // setTimeout(function() {fetch_remakes(AllQuery)} , delay);
    $('#masonry-gallery-container').cleanGallery().populateGallery(AllQuery);

    $('.hmg-dropdown-toggle-stories').html("Select A Story" +' <span class="caret"></span>');
  });

  // FILTERS HANDLERS

  $('.all-remakes-button').on('click', function(e) {
    // cleanGallery();
    // setTimeout(function() {fetch_remakes(AllQuery)} , delay);
    $('#masonry-gallery-container').cleanGallery().populateGallery(AllQuery);

    $('.hmg-dropdown-toggle-stories').html("Select A Story" +' <span class="caret"></span>');
  });

  $('.my-takes-button').on('click', function(e) {
    cleanGallery();
    // fetch_remakes(myTakesQuery);

    $(".all-remakes-button .clickable-link").removeClass("selected");
    $('.hmg-dropdown-toggle-stories').html("Select A Story" +' <span class="caret"></span>');
  });

  $('.trending-remakes-button').on('click', function(e) {
    // cleanGallery();
    // setTimeout(function() {fetch_remakes(TrendingQuery)} , delay);
    $('#masonry-gallery-container').cleanGallery().populateGallery(TrendingQuery);
    
    $(".all-remakes-button .clickable-link").removeClass("selected");
    $('.hmg-dropdown-toggle-stories').html("Select A Story" +' <span class="caret"></span>');
  });


  // VIDEO PLAYERS

  // prevent right on video players
  $('video').on('contextmenu', function(e) {e.preventDefault();});

  // campaign player
  videojs('campaign_video_player',
    { 'techOrder': ['youtube', 'html5']}).ready(function(){
    var myPlayer = this;
    var campaign_id = '<%= @campaign["_id"].to_s %>'
    var campaign_video = '<%= @campaign["video"].to_s %>'
    var campaign_video_type = '<%= @campaign["video_type"]%>'
    var campaign_thumbnail = '<%= @campaign["thumbnail"].to_s %>'
    var currentViewId;
    var first = true;
    var thresholdReported = false;

    type = 'video/' + campaign_video_type
    myPlayer.poster(campaign_thumbnail);
    myPlayer.src({src: campaign_video, type: type});
    myPlayer.posterImage.show();
    //myPlayer.load();

    var trackVideoStart = function(){
      currentViewId = new ObjectId().toString();

      view_params = {"view_id":currentViewId, "campaign_id":campaign_id, "playback_event":0, "originating_screen":11, "cookie_id":$.cookie('homageCookieID')}
      if (origin_id != "") {
        view_params["origin_id"] = origin_id
      }
      $.post('/campaign_video/view', view_params, function(data,status){
          playReported = true;
          stopReported = false;
          thresholdReported = false;
      });
    };

    var trackVideoEnd = function() {
      $.post('/campaign_video/view', {"view_id":currentViewId, "campaign_id":campaign_id, "playback_event":1, "originating_screen":11, "total_duration":myPlayer.duration(), "playback_duration":myPlayer.currentTime(), "cookie_id":$.cookie('homageCookieID')}, function(data,status){
          stopReported = true;
          playReported = false;
        });
    };

    var trackVideoReachedViewThreshold = function() {
      $.post('/campaign_video/view', {"view_id":currentViewId, "campaign_id":campaign_id, "playback_event":1, "originating_screen":11, "total_duration":myPlayer.duration(), "playback_duration":myPlayer.currentTime(), "cookie_id":$.cookie('homageCookieID')}, function(data,status){
        });
    }

    myPlayer.on("play", function() {
      if (first) {
        first = false;
        $(".campaign-video-play-button-container").hide()
        trackVideoStart();
      }       
    });

    myPlayer.on("timeupdate" , function() {
      duration = myPlayer.currentTime();
      total_duration = myPlayer.duration();
      if (duration > (total_duration * view_pct_threshold) && !thresholdReported) {
        trackVideoReachedViewThreshold();
        thresholdReported = true;
      }
    });

    myPlayer.on("ended", function() {
      first = true;
      trackVideoEnd();
      myPlayer.posterImage.show();
      $(".campaign-video-play-button-container").show()
      myPlayer.controls(false);
    });
  });

videojs('remake_video_player').ready(function() {
    var myPlayer = this;
    var currentViewId;
    var first = true;
    var thresholdReported = false;
    
    var trackVideoStart = function(){
        currentViewId = new ObjectId().toString();
        
        if (currentRemake["remake_id"] == null) return;

        remake_id = currentRemake["remake_id"];

        view_params = {"view_id":currentViewId, "remake_id":remake_id, "playback_event":0, "originating_screen":11, "cookie_id":$.cookie('homageCookieID')}
        if (origin_id != "") {
          view_params["origin_id"] = origin_id
        }
        $.post('/remake/view', view_params, function(data,status){
            // playReported = true;
            // stopReported = false;
            thresholdReported = false;
          });
    };

    var trackVideoEnd = function() {
      if (currentRemake["remake_id"] == null) return;

      remake_id = currentRemake["remake_id"];
      $.post('/remake/view', {"view_id":currentViewId, "remake_id":remake_id, "playback_event":1, "originating_screen":11, "total_duration":myPlayer.duration(), "playback_duration":myPlayer.currentTime(), "cookie_id":$.cookie('homageCookieID')}, function(data,status){
          // stopReported = true;
          // playReported = false;
        });
    };

    var trackVideoReachedViewThreshold = function() {
      if (currentRemake["remake_id"] == null) return;

      remake_id = currentRemake["remake_id"];

      $.post('/remake/view', {"view_id":currentViewId, "remake_id":remake_id, "playback_event":1, "originating_screen":11, "total_duration":myPlayer.duration(), "playback_duration":myPlayer.currentTime(), "cookie_id":$.cookie('homageCookieID')}, function(data,status){
        });
    }

    myPlayer.on("play", function() {
      if (first) {
        first = false;
        trackVideoStart();
      }       
    });

    myPlayer.on("timeupdate" , function() {
      duration = myPlayer.currentTime();
      total_duration = myPlayer.duration();
      if (duration > (total_duration * view_pct_threshold) && !thresholdReported) {
        trackVideoReachedViewThreshold();
        thresholdReported = true;
      }
    });

    myPlayer.on("ended", function() {
      first = true;
      trackVideoEnd();
      myPlayer.posterImage.show();
      showShareOverlay();
    });

    myPlayer.on("resize" , function() {
      //console.log("Resize");
      // height = $('.overlay-video-row .videocontent').height();
      // width  = $('.overlay-video-row .videocontent').width();
      // $('.movie-finished-overlay').height(height);
      // $('.movie-finished-overlay').width(width);
    })
       
    <% if @remake  %>
      var remake_id = '<%= @remake["_id"] %>'
      showVideoPlayer(remake_id)
    <% end %>
  });

  // SHARING

  // header share container
  $("#hmg-header-share").on('click', function(e){
    showSiteShareContainer();
  });

  function showSiteShareContainer() {
    $("#hmg-header-share").hide();
    $("#share-site-container").css("display","inline-block");
  }

  function hideSiteShareContainer() {
    $("#hmg-header-share").show();
    $("#share-site-container").css("display","none");
  }

  function reportSiteShare(campaign_id,share_method) {
    info = {"campaign_id":campaign_id,"share_method":share_method}
    if (origin_id != "") {
       info["origin_id"] = origin_id
    }

    $.post('/campaign_site/share', info , function(data,status){
                 
    });
  }

  campaign_id = '<%= @campaign["_id"].to_s %>'
  campaign_video = '<%= @campaign["video"].to_s %>'
  campaign_thumbnail = '<%= @campaign["thumbnail"].to_s %>'
  campaign_share_message = '<%= @campaign["share_message"].to_s %>'
  campaign_share_link = '<%= @campaign["web_link"].to_s %>'

  // site share handlers
  $(".twitter_site_share").on('click', function(e) {
    twitterShare(campaign_thumbnail,campaign_share_message,campaign_share_link);
    reportSiteShare(campaign_id,TwitterShareMethod);
    hideSiteShareContainer();
  });

  $(".facebook_site_share").on('click', function(e) {
    facebookShare(campaign_thumbnail,campaign_share_message,campaign_share_link);
    reportSiteShare(campaign_id,FacebookShareMethod);
    hideSiteShareContainer();
  });

  $(".gplus_site_share").on('click', function(e) {
    gplusShare(campaign_thumbnail,campaign_share_message,campaign_share_link);
    reportSiteShare(campaign_id,GooglePlusShareMethod);
    hideSiteShareContainer();
  });

  $(".pinterest_site_share").on('click', function(e) {
    pinterestShare(campaign_thumbnail,campaign_share_message,campaign_share_link);
    reportSiteShare(campaign_id,PinterestShareMethod);
    hideSiteShareContainer();
  });

  $(".email_site_share").on('click', function(e) {
    emailShare(campaign_thumbnail,campaign_share_message,campaign_share_link);
    reportSiteShare(campaign_id,EmailShareMethod);
    hideSiteShareContainer();
  });

  var reportShare = function(share_method){
    // Tracking in our Server
    share_id = new ObjectId().toString();
    share_link = share_link_prefix + "/" + share_id;
    remake_id = currentRemake["remake_id"];

    share_params = {"share_id": share_id, "remake_id":remake_id, "share_method":share_method,
            "share_link": share_link, "cookie_id":$.cookie('homageCookieID')}
    if (origin_id != "") {
       share_params["origin_id"] = origin_id
    }
    $.post('/remake/share', share_params, 
                 function(data,status){
                 }
    );

    return share_link;
  };

  // share button handlers
  $(".email_share").on('click',function(e) {
    thumbnail = currentRemake["thumbnail"];
    share_message = currentRemake["share_message"];
    share_link = reportShare(EmailShareMethod);

    emailShare(thumbnail,share_message,share_link);
  });

  $(".facebook_share").on('click',function(e){
    thumbnail = currentRemake["thumbnail"];
    share_message = currentRemake["share_message"];
    share_link = reportShare(FacebookShareMethod);
    facebookShare(thumbnail,share_message,share_link);
  });

  $(".twitter_share").on('click', function(e) {
    thumbnail = currentRemake["thumbnail"];
    share_message = currentRemake["share_message"];
    share_link = reportShare(TwitterShareMethod);

    twitterShare(thumbnail,share_message,share_link);
  });

  $(".gplus_share").on('click', function(e) {
    thumbnail = currentRemake["thumbnail"];
    share_message = currentRemake["share_message"];
    share_link = reportShare(GooglePlusShareMethod);
    
    gplusShare(thumbnail,share_message,share_link);
  });

   $(".pinterest_share").on('click', function(e) {
    thumbnail = currentRemake["thumbnail"];
    share_message = currentRemake["share_message"];
    share_link = reportShare(PinterestShareMethod);
    
    pinterestShare(thumbnail,share_message,share_link);
   });


  var is_encoded = function(str) {
    return decodeURIComponent(str) !== str;
  };

  var encode = function(str) {
    if (is_encoded(str)) {
      return str;
    } else {
      return encodeURIComponent(str);
    }
  };

  var open_popup = function(url, params) {
    var k, popup, qs, v;
    if (params == null) {
      params = {};
    }
    popup = {
      width: 500,
      height: 350
    };
    popup.top = (screen.height / 2) - (popup.height / 2);
    popup.left = (screen.width / 2) - (popup.width / 2);
    qs = ((function() {
      var _results;
      _results = [];
      for (k in params) {
        v = params[k];
        _results.push("" + k + "=" + (encode(v)));
      }
      return _results;
    }).call(this)).join('&');
    if (qs) {
      qs = "?" + qs;
    }
    return window.open(url + qs, 'targetWindow', "toolbar=no,location=no,status=no,menubar=no,scrollbars=yes,resizable=yes,left=" + popup.left + ",top=" + popup.top + ",width=" + popup.width + ",height=" + popup.height);
  };


  function emailShare(thumbnail,share_message,share_link) {
    open_popup('mailto:', {
      subject: share_message,
      body: share_link
    });
  }

  function facebookShare(thumbnail,share_message,share_link) {
    FB.ui(
     {
      method: 'feed',
      picture: thumbnail,
      description: share_message,
      link: share_link,
      href: share_link
    }, function(response){

        }
    );
  }

  function twitterShare(thumbnail,share_message,share_link) {
    open_popup('https://twitter.com/intent/tweet', {
      text: share_message,
      url: share_link
    });

  }

  function gplusShare(thumbnail,share_message,share_link) {
    open_popup('https://plus.google.com/share', {
      url: share_link
    });
  }

  function pinterestShare(thumbnail,share_message,share_link) {
    open_popup('https://www.pinterest.com/pin/create/button', {
      url: share_link,
      media: thumbnail,
      description: share_message
    });
  }

  // REMAKE VIDEO PLAYER OVERLAY 

  // dismiss remake overlay upon pressing everywhere / close button
  $(document).on('click tap','.video-overlay',function(e){
    if($(e.target).is('.video-overlay') || $(e.target).is('.close-button') || $(e.target).is('.row')) {
      var myPlayer = videojs('remake_video_player');
      myPlayer.pause();
      $('.video-overlay').hide();
      currentRemake = {};
      document.body.style.overflow = 'auto';
      myPlayer.trigger('ended');
      hideShareOverlay();
    }
  });

  function showVideoPlayer(remake_id) {
    campaign_video_player = videojs('campaign_video_player');
    if (!campaign_video_player.paused()) {
      campaign_video_player.pause();
      campaign_video_player.currentTime(0);
      campaign_video_player.trigger('ended');
      // campaign_video_player.posterImage.show();
    }

    impressionId = new ObjectId().toString();
    impression_params = {"impression_id":impressionId, "remake_id":remake_id, "playback_event":0, "originating_screen":11, "cookie_id":$.cookie('homageCookieID')}
    if (origin_id != "") {
      impression_params["origin_id"] = origin_id
    }
    
    $.post('/remake/impression', impression_params , function(data,status){
             
    });

    path = '/remake/' + remake_id.toString();

    params = {}
    if ($.cookie('homageCookieID')) {
      params["cookie_id"] = $.cookie('homageCookieID') 
    }

    $.get(path, params , function(data, status, xhr){
        json_data = $.parseJSON(data);
      
        currentRemake["remake_id"] = remake_id.toString();

        thumbnail = json_data["thumbnail"].toString();
        share_message = json_data["share_message"] ? json_data["share_message"] : "";
        video = json_data["video"].toString();
        user_fullname = json_data["user_fullname"] ? json_data["user_fullname"] : "Guest";

        like_count = json_data["like_count"] ? json_data["like_count"] : 0;
        view_count = json_data["views"] ? json_data["views"] : 0;
        share_count = json_data["share_count"] ? json_data["share_count"] : 0;
        is_liked = json_data["is_liked"] ? json_data["is_liked"] : false;

        toogleLikeButton(is_liked);

        $('.more-from-button').text("More from " + user_fullname);
        $('.user-name-label').text(user_fullname);
        $('.like-count-label').text(" " + like_count);
        $('.view-count-label').text(" " + view_count);
        $('.share-count-label').text(" " + share_count);

        currentRemake["thumbnail"] = thumbnail;
        currentRemake["share_message"] = share_message;

        var stopReported = false;
        var playReported = false;

        var myPlayer = videojs('remake_video_player');

        myPlayer.poster(thumbnail);
        myPlayer.src(video);
        myPlayer.posterImage.show();
        myPlayer.play();
        var overlay = $('video-overlay');
        $('.video-overlay').show();
        document.body.style.overflow = 'hidden';
    });
  }

  // like button logic
  function toogleLikeButton(is_liked) {
    if (is_liked) {
      $('.like-button').addClass('liked_state')
      $('.like-button').text("Unlike")
      $('.like-button').removeClass('unliked_state')
      $('.remake-actions .like i').addClass('fa-heart')
      $('.remake-actions .like i').removeClass('fa-heart-o')



    } else {
      $('.like-button').addClass('unliked_state')
      $('.like-button').text("Like")
      $('.like-button').removeClass('liked_state')
      $('.remake-actions .like i').addClass('fa-heart-o')
      $('.remake-actions .like i').removeClass('fa-heart')
    }
  }

  $('.like-button').on('click', function(e) {
    like_params = {}
    like_params["remake_id"] = currentRemake["remake_id"];
    if ($.cookie('homageCookieID')) like_params["cookie_id"] = $.cookie('homageCookieID');

    if ($('.like-button').hasClass('unliked_state')) {
      toogleLikeButton(true);
      $.post('/remake/like' , like_params)

    } else if ($('.like-button').hasClass('liked_state')) {
      toogleLikeButton(false);
      $.post('/remake/unlike' , like_params)
    }
  });

  function showShareOverlay() {
    height = $('.overlay-video-row .videocontent').height();
    width  = $('.overlay-video-row .videocontent').width();
    $('.movie-finished-overlay').height(height);
    $('.movie-finished-overlay').width(width);
    $('.movie-finished-overlay').show();
  }

  function hideShareOverlay() {
    $('.movie-finished-overlay').hide();
  }


  $(document).on('click tap','.movie-finished-overlay',function(e){
    hideShareOverlay();
  });

  // add href to app_icons 
  $('.app-icon').each(function() {
    var href = this.href;
    href = href + "?src=minisite&campaign_id=" + campaign_id
    if (origin_id != "") {
        href = href + "&origin_id=" + origin_id
    }
    $(this).attr('href' , href);
  })

  function flagRemakeAsInappropriate(remake_id, user_id) {
    remake_id = currentRemake["remake_id"]
    cookie_id = $.cookie('homageCookieID')
    report = {"remake_id": remake_id, "cookie_id":cookie_id}
    $.post('/remake/report', report, function(data,status){
           
    });
  }

  $(".flag-button").click(function() {
    $("#hmg-modal").modal('show');
  })

  $("#hmg-modal .dismiss-button").click(function() {
    $("#hmg-modal").modal('hide');
  })

  $("#hmg-modal .confirm-button").click(function() {
    flagRemakeAsInappropriate()
    $("#hmg-modal").modal('hide');
  })

  // MAIN 
  $(".all-remakes-button .clickable-link").toggleClass("selected")
  adjustGallerySize();
  fetch_remakes(AllQuery);
  
</script>
</body>


