<!DOCTYPE html>
<html lang="en">
<head>
    <title>Rafi</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    
    <link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">  
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    
    <link href="http://vjs.zencdn.net/4.8/video-js.css" rel="stylesheet">
    <script src="http://vjs.zencdn.net/4.8/video.js"></script>
    
    <link rel="stylesheet" type="text/css" href="/css/new_minisite.css">    
    <link rel="icon" type="image/x-icon" href="/resources/favicon.ico"/>

    <script src="/js/Objectid.js"></script>
    <script src="/js/jquery.cookie.js"></script>

    <link href="/css/jquery.galereya.css" rel="stylesheet"/>
    <!--[if lt IE 9]>
    <link rel="stylesheet" href="css/jquery.galereya.ie.css">
    <![endif]-->

    <script src="/js/jquery.galereya.js"></script>

     <script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '447743458659084',
      xfbml      : true,
      version    : 'v2.2'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
  
</head>
<body>
  <div class="container-fluid">
    <div class="row header">
      <div class="col-xs-6">
        <div class="menu app_links_menu">
          <a class="app_icon" href="https://play.google.com/store/apps/details?id=com.homage.app">
            <img src="/resources/minisite/AppStoreIcon.png"/>
          </a>
          <a class="app_icon" href="https://itunes.apple.com/us/app/homage/id851746600?l=iw&amp;ls=1&amp;mt=8">
            <img src="/resources/minisite/PlayStoreIcon.png"/>
          </a>
        </div>
      </div>
      <div class="col-xs-6">
        <div class="menu right_header_menu">
          <div class="share_site_container">
            <a class="secondary_font_label twitter_site_share"></a>
            <a class="secondary_font_label facebook_site_share"></a>
            <a class="secondary_font_label gplus_site_share"></a>
            <a class="secondary_font_label pinterest_site_share"></a>
            <a class="secondary_font_label email_site_share"></a>
          </div>
          <a class="header_button header_share">share</a>
          <a class="header_button header_login">login</a>
        </div>
      </div>
    </div>

    <div class="row filters">
      <div class="col-xs-12">
        <nav class="navbar navbar-custom" role="navigation">
            <div class="container-fluid">
            
              <!-- Collect the nav links, forms, and other content for toggling -->
              <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-left">
                  <li><a class="all-remakes-button" href="#">All</a></li>
                  <li><a class="my-remakes-button" href="#">My takes</a></li>
                  <li><a class="trending-remakes-button" href="#">Trending</a></li>
                </ul>
                
                <ul class="nav navbar-nav navbar-right">
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Campaign Stories<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                      <li><a href="#">All</a></li>
                      <% for story in @stories do %>
                        <li><a href="#"><%= story["name"] %></a></li>
                      <% end %>
                    </ul>
                  </li>
                </ul>
              </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
          </nav>
      </div>
    </div>

    <div class="row">
      <div class="gallery_header">
        <div class="header_content_container">
          <div class="campaign_video_container">
            <div class="videocontent">
              <video id="campaign_video_player" class="video-js vjs-default-skin" width="350" height="200" poster="" controls="controls"  
                  data-setup="{}">
                  <source src="" type="video/mp4"/>
              </video>
            </div> 
          </div>

          <div class="campaign_info">
            <div class="campaign_logo">

            </div>

            <div class="campaign_button">Go to Homage web site</div>
          </div>   
        </div>
      </div>
      
      <div id="gallery_container">

      </div>
    </div>
  </div>

  <!-- overlay video player  -->
  <div class="video_overlay">
    <div class="close_button"></div>

    <div class="remake_video_container">
      
      <div class="remake_header">
        <a class="secondary_font_label user_name_label"></a>
        <a class="secondary_font_label like_count_label"></a>
        <a class="secondary_font_label view_count_label"></a>
        <a class="secondary_font_label share_count_label"></a>
      </div>

      <div class="videocontent remake_video_content">
        <video id="remake_video_player" class="video-js vjs-default-skin" width="100%" height="100%" poster="" controls="controls"  
            data-setup="{}">
            <source src="" type="video/mp4"/>
        </video>
      </div>

      <div class="remake_footer">
        <a class="secondary_font_label hoverable_element like_button"></a>
        <a class="secondary_font_label hoverable_element make_your_own_button">Make your own</a>
        <a class="secondary_font_label hoverable_element more_from_button"></a>
        <a class="secondary_font_label hoverable_element flag_button">Flag</a>
      </div>

      <div class="remake_social_bar">
        <a class="secondary_font_label">Share</a>
        <a class="secondary_font_label twitter_share"></a>
        <a class="secondary_font_label facebook_share"></a>
        <a class="secondary_font_label gplus_share"></a>
        <a class="secondary_font_label pinterest_share"></a>
        <a class="secondary_font_label email_share"></a>
      </div> 
    </div>
  </div>

  <div class="background_image">

  </div>

  <script>

  cookies = $.cookie();
  if (!cookies["homageCookieID"]) {
    console.log("no homage cookie");
    var cookie_id = new ObjectId().toString();
    $.cookie('homageCookieID', cookie_id, { expires: 365 });
    // $.cookie('like_state' , false , {expires: 365});
  }

  var skip = 0;
  var limit = 30;
  var gallery = null;
  var currentRemake = {};
  var all_remakes = [];
  var currentlyLoadingImgs = false;
  var campaign_id = '<%= @campaign["_id"].to_s %>'
  var share_link_prefix = '<%= @config["share_link_prefix"] %>'
  var view_pct_threshold = '<%= @config["significant_view_pct_threshold"] %>'
  var current_user = null;
  var currently_selected_story = null;
  var current_query_type = null;
  var origin_id  = '<%= @originating_share_id %>'
 

  // share method ENUM
  CopyUrlShareMethod = 0
  FacebookShareMethod = 1
  WhatsappShareMethod = 2
  EmailShareMethod = 3 
  MessageShareMethod = 4
  WeiboShareMethod = 5
  TwitterShareMethod = 6
  GooglePlusShareMethod = 7
  PinterestShareMethod = 8

  // remake query type
  AllQuery      = 0
  StoryQuery    = 1
  MyTakesQuery  = 2
  TrendingQuery = 3

  $('body').on("finished_loading_images", function() {
    currentlyLoadingImgs = false;
    if  ($(window).scrollTop() == $(document).height() - $(window).height()) {
            fetch_remakes(current_query_type);
    }
  });

  $('body').on("gallery_resized" , function() {
    gallery_new_width = $(".galereya-grid").width();
    $(".header_content_container").width(gallery_new_width);
    $(".header_content_container").show();
  });


  var stopReported = false;
  var playReported = false;
  
  videojs('campaign_video_player').ready(function(){
    var myPlayer = this;
    var campaign_id = '<%= @campaign["_id"].to_s %>'
    var campaign_video = '<%= @campaign["video"].to_s %>'
    var campaign_thumbnail = '<%= @campaign["thumbnail"].to_s %>'
    var currentViewId;
    var first = true;
    var thresholdReported = false;

    var myPlayer = this;
    myPlayer.poster(campaign_thumbnail);
    myPlayer.src(campaign_video);
    myPlayer.posterImage.show();
    //myPlayer.load();

    var trackVideoStart = function(){
      currentViewId = new ObjectId().toString();

      view_params = {"view_id":currentViewId, "campaign_id":campaign_id, "playback_event":0, "originating_screen":11, "cookie_id":$.cookie('homageCookieID')}
      if (origin_id != "") {
        view_params["origin_id"] = origin_id
      }
      $.post('/campaign_video/view', view_params, function(data,status){
          playReported = true;
          stopReported = false;
          thresholdReported = false;
      });
    };

    var trackVideoEnd = function() {
      $.post('/campaign_video/view', {"view_id":currentViewId, "campaign_id":campaign_id, "playback_event":1, "originating_screen":11, "total_duration":myPlayer.duration(), "playback_duration":myPlayer.currentTime(), "cookie_id":$.cookie('homageCookieID')}, function(data,status){
          stopReported = true;
          playReported = false;
        });
    };

    var trackVideoReachedViewThreshold = function() {
      $.post('/campaign_video/view', {"view_id":currentViewId, "campaign_id":campaign_id, "playback_event":1, "originating_screen":11, "total_duration":myPlayer.duration(), "playback_duration":myPlayer.currentTime(), "cookie_id":$.cookie('homageCookieID')}, function(data,status){
        });
    }

    myPlayer.on("play", function() {
      if (first) {
        first = false;
        trackVideoStart();
      }       
    });

    myPlayer.on("timeupdate" , function() {
      duration = myPlayer.currentTime();
      total_duration = myPlayer.duration();
      if (duration > (total_duration * view_pct_threshold) && !thresholdReported) {
        trackVideoReachedViewThreshold();
        thresholdReported = true;
      }
    });

    myPlayer.on("ended", function() {
      first = true;
      trackVideoEnd();
      myPlayer.posterImage.show();
    });
  });

  videojs('remake_video_player').ready(function() {
    var myPlayer = this;
    var currentViewId;
    var first = true;
    var thresholdReported = false;
    
    var trackVideoStart = function(){
        currentViewId = new ObjectId().toString();
        
        if (currentRemake["remake_id"] == null) return;

        remake_id = currentRemake["remake_id"];

        impressionId = new ObjectId().toString();
        impression_params = {"impression_id":impressionId, "remake_id":remake_id, "playback_event":0, "originating_screen":11, "cookie_id":$.cookie('homageCookieID')}
        if (origin_id != "") {
          impression_params["origin_id"] = origin_id
        }
        
        $.post('/remake/impression', impression_params , function(data,status){
                 
        });

        view_params = {"view_id":currentViewId, "remake_id":remake_id, "playback_event":0, "originating_screen":11, "cookie_id":$.cookie('homageCookieID')}
        if (origin_id != "") {
          view_params["origin_id"] = origin_id
        }
        $.post('/remake/view', view_params, function(data,status){
            // playReported = true;
            // stopReported = false;
            thresholdReported = false;
          });
    };

    var trackVideoEnd = function() {
      if (currentRemake["remake_id"] == null) return;

      remake_id = currentRemake["remake_id"];
      $.post('/remake/view', {"view_id":currentViewId, "remake_id":remake_id, "playback_event":1, "originating_screen":11, "total_duration":myPlayer.duration(), "playback_duration":myPlayer.currentTime(), "cookie_id":$.cookie('homageCookieID')}, function(data,status){
          // stopReported = true;
          // playReported = false;
        });
    };

    var trackVideoReachedViewThreshold = function() {
      if (currentRemake["remake_id"] == null) return;

      remake_id = currentRemake["remake_id"];

      $.post('/remake/view', {"view_id":currentViewId, "remake_id":remake_id, "playback_event":1, "originating_screen":11, "total_duration":myPlayer.duration(), "playback_duration":myPlayer.currentTime(), "cookie_id":$.cookie('homageCookieID')}, function(data,status){
        });
    }

    myPlayer.on("play", function() {
      if (first) {
        first = false;
        trackVideoStart();
      }       
    });

    myPlayer.on("timeupdate" , function() {
      duration = myPlayer.currentTime();
      total_duration = myPlayer.duration();
      if (duration > (total_duration * view_pct_threshold) && !thresholdReported) {
        trackVideoReachedViewThreshold();
        thresholdReported = true;
      }
    });

    myPlayer.on("ended", function() {
      first = true;
      trackVideoEnd();
      myPlayer.posterImage.show();
    });

  });

  function showVideoPlayer(remake_id) {
    campaign_video_player = videojs('campaign_video_player');
    if (!campaign_video_player.paused()) {
      campaign_video_player.pause();
      campaign_video_player.currentTime(0);
      campaign_video_player.trigger('ended');
      // campaign_video_player.posterImage.show();
    }

    path = '/remake/' + remake_id.toString();

    params = {}
    if ($.cookie('homageCookieID')) {
      params["cookie_id"] = $.cookie('homageCookieID') 
    }

    $.get(path, params , function(data, status, xhr){
        json_data = $.parseJSON(data);
      
        currentRemake["remake_id"] = remake_id.toString();

        thumbnail = json_data["thumbnail"].toString();
        share_message = json_data["share_message"] ? json_data["share_message"] : "";
        video = json_data["video"].toString();
        user_fullname = json_data["user_fullname"] ? json_data["user_fullname"] : "this user";

        like_count = json_data["like_count"] ? json_data["like_count"] : 0;
        view_count = json_data["views"] ? json_data["views"] : 0;
        share_count = json_data["share_count"] ? json_data["share_count"] : 0;
        is_liked = json_data["is_liked"] ? json_data["is_liked"] : false;

        toogleLikeButton(is_liked);

        $('.more_from_button').text("More from " + user_fullname);
        $('.user_name_label').text(user_fullname);
        $('.like_count_label').text(like_count);
        $('.view_count_label').text(view_count);
        $('.share_count_label').text(share_count);

        currentRemake["thumbnail"] = thumbnail;
        currentRemake["share_message"] = share_message;

        var stopReported = false;
        var playReported = false;

        var myPlayer = videojs('remake_video_player');

        myPlayer.poster(thumbnail);
        myPlayer.src(video);
        myPlayer.posterImage.show();
        myPlayer.play();
        var overlay = $('video_overlay');
        $('.video_overlay').show();
        document.body.style.overflow = 'hidden';
    });
  }

  // function trackVideoStart() {
  //   currentViewId = new ObjectId().toString();
  //   view_params = {"view_id":currentViewId, "remake_id":remakeId, "playback_event":0, "originating_screen":11, "cookie_id":$.cookie('homageCookieID')}
  //   if (origin_id != "") {
  //       view_params["origin_id"] = origin_id
  //   }
  //   $.post('/remake/view', view_params, function(data,status){
  //       playReported = true;
  //       stopReported = false;
  //       thresholdReported = false;
  //     });

  // }

  // function trackVideoEnd() {
  //   $.post('/remake/view', {"view_id":currentViewId, "remake_id":remakeId, "playback_event":1, "originating_screen":11, "total_duration":myPlayer.duration(), "playback_duration":myPlayer.currentTime(), "cookie_id":$.cookie('homageCookieID')}, function(data,status){
  //       stopReported = true;
  //       playReported = false;
  //     });    
  // }

  // function trackVideoReachedViewThreshold() {
  //   $.post('/remake/view', {"view_id":currentViewId, "remake_id":remakeId, "playback_event":1, "originating_screen":11, "total_duration":myPlayer.duration(), "playback_duration":myPlayer.currentTime(), "cookie_id":$.cookie('homageCookieID')}, function(data,status){
  //     });
  // }

  function genShareLink() {
    currentShareId = new ObjectId().toString();
    currentShareLink = share_link_prefix + "/" + currentShareId;
    return currentShareLink;
  }

  var reportShare = function(share_method){
    // Tracking in our Server
    share_id = new ObjectId().toString();
    share_link = share_link_prefix + "/" + share_id;
    remake_id = currentRemake["remake_id"];

    share_params = {"share_id": share_id, "remake_id":remake_id, "share_method":share_method,
            "share_link": share_link, "cookie_id":$.cookie('homageCookieID')}
    // if (origin_id != "") {
    //   share_params["origin_id"] = origin_id
    // }
    $.post('/remake/share', share_params, 
                 function(data,status){
                 }
    );

    return share_link;
  };

  function fetch_remakes(query_type)
  {
    var single_batch_remakes = [];
    currentlyLoadingImgs = true;
    current_query_type = query_type;

    remakes_cond = {};
    remakes_cond["campaign_id"] = campaign_id;
    remakes_cond["skip"] = skip;
    remakes_cond["limit"] = limit;
    remakes_cond["query_type"] = query_type;
    
    if (query_type == AllQuery) {

    } else if (query_type == StoryQuery) {
      stories = [];
      stories.push(currently_selected_story);
      remakes_cond["stories"] = stories;
    } else if (query_type == TrendingQuery) {

    } else if (query_type == MyTakesQuery) {
      if (current_user != null) {
        remakes_cond["user_id"] = current_user;
      }
    }

    $.get('/remakes', remakes_cond , function(data, status, xhr){
      json_data = $.parseJSON(data)

      for (var i=0;i<json_data.length;i++) {
        remake = json_data[i];

        lowsrc      = remake["thumbnail"];
        fullsrc     = remake["thumbnail"];
        description = i+skip + ": " + remake["_id"]["$oid"];
        category    = remake["story_name"];
        remake_id   = remake["_id"]["$oid"];

        like_count = remake["like_count"] ? remake["like_count"] : 0;
        view_count = remake["views"] ? remake["views"] : 0;
        share_count = remake["share_count"] ? remake["share_count"] : 0;

        info = {lowsrc: lowsrc, fullsrc: fullsrc, description: description, category: category, _id: remake_id, like_count: like_count, view_count: view_count, share_count: share_count}
        if (remake["user_fullname"]) {
          info["user_name"] = remake["user_fullname"];
        }
        
        single_batch_remakes.push(info)
        all_remakes.push(info);
      }

      if (!gallery) {
        gallery = $('#gallery_container').galereya({
          spacing: 30,
          wave: false,
          noCategoryName: 'all stories',
          disableSliderOnClick: true,
          onCellClick: function(e) {
            var selectedCellIndex = gallery.getSelectedCell();
            remake = all_remakes[selectedCellIndex];
            remake_id = remake["_id"]
            showVideoPlayer(remake_id);
          },
          load: function(next) {
            var data = single_batch_remakes;
            next(data);
          },
        });
      } else {
        var data = single_batch_remakes;
        gallery.loadMore(data);
      }

      skip += limit;
      
    });
  }

  $(window).scroll(function() {
      if  ($(window).scrollTop() == $(document).height() - $(window).height()) {
        if (!currentlyLoadingImgs) { 
          fetch_remakes(current_query_type);
        }
      }
  }); 

  function cleanGallery() {
    $('#gallery_container').empty();
      gallery = null;
      skip = 0;
      all_remakes = [];
  }

  $(".dropdown-menu li a").on('click', function(){
      story_name = $(this).text().toString();
      console.log("story:" + story_name);
      // gallery.changeCategory(story_name.toLowerCase());
      currently_selected_story = story_name;
      cleanGallery();
      fetch_remakes(StoryQuery);
   });

  $(document).on('click','.video_overlay',function(e){
    if($(e.target).is('.video_overlay') || $(e.target).is('.close_button')) {
      var myPlayer = videojs('remake_video_player');
      myPlayer.pause();
      $('.video_overlay').hide();
      currentRemake = {};
      document.body.style.overflow = 'auto';
    }
  });

  var is_encoded = function(str) {
    return decodeURIComponent(str) !== str;
  };

  var encode = function(str) {
    if (is_encoded(str)) {
      return str;
    } else {
      return encodeURIComponent(str);
    }
  };

  var open_popup = function(url, params) {
    var k, popup, qs, v;
    if (params == null) {
      params = {};
    }
    popup = {
      width: 500,
      height: 350
    };
    popup.top = (screen.height / 2) - (popup.height / 2);
    popup.left = (screen.width / 2) - (popup.width / 2);
    qs = ((function() {
      var _results;
      _results = [];
      for (k in params) {
        v = params[k];
        _results.push("" + k + "=" + (encode(v)));
      }
      return _results;
    }).call(this)).join('&');
    if (qs) {
      qs = "?" + qs;
    }
    return window.open(url + qs, 'targetWindow', "toolbar=no,location=no,status=no,menubar=no,scrollbars=yes,resizable=yes,left=" + popup.left + ",top=" + popup.top + ",width=" + popup.width + ",height=" + popup.height);
  };

  $(".email_share").on('click',function(e) {
    thumbnail = currentRemake["thumbnail"];
    share_message = currentRemake["share_message"];
    share_link = reportShare(EmailShareMethod);

    emailShare(thumbnail,share_message,share_link);
  });

 // Share.prototype.network_email = function() {
 //    return this.popup('mailto:', {
 //      subject: this.config.networks.email.title,
 //      body: this.config.networks.email.description
 //    });
 //  };

  $(".facebook_share").on('click',function(e){
    thumbnail = currentRemake["thumbnail"];
    share_message = currentRemake["share_message"];
    share_link = reportShare(FacebookShareMethod);
     // method: 'feed',
     //    name: this.config.networks.facebook.title,
     //    link: this.config.networks.facebook.url,
     //    picture: this.config.networks.facebook.image,
     //    caption: this.config.networks.facebook.caption,
     //    description: this.config.networks.facebook.description

    facebookShare(thumbnail,share_message,share_link);
  });

  $(".twitter_share").on('click', function(e) {
    thumbnail = currentRemake["thumbnail"];
    share_message = currentRemake["share_message"];
    share_link = reportShare(TwitterShareMethod);

    twitterShare(thumbnail,share_message,share_link);
  });

  $(".gplus_share").on('click', function(e) {
    thumbnail = currentRemake["thumbnail"];
    share_message = currentRemake["share_message"];
    share_link = reportShare(GooglePlusShareMethod);
    
    gplusShare(thumbnail,share_message,share_link);
  });

   $(".pinterest_share").on('click', function(e) {
    thumbnail = currentRemake["thumbnail"];
    share_message = currentRemake["share_message"];
    share_link = reportShare(PinterestShareMethod);
    
    pinterestShare(thumbnail,share_message,share_link);
   });

  function emailShare(thumbnail,share_message,share_link) {
    open_popup('mailto:', {
      subject: share_message,
      body: share_link
    });
  }

  function facebookShare(thumbnail,share_message,share_link) {
    FB.ui(
     {
      method: 'feed',
      picture: thumbnail,
      description: share_message,
      link: share_link,
      href: share_link
    }, function(response){

        }
    );
  }

  function twitterShare(thumbnail,share_message,share_link) {
    open_popup('https://twitter.com/intent/tweet', {
      text: share_message,
      url: share_link
    });

  }

  function gplusShare(thumbnail,share_message,share_link) {
    open_popup('https://plus.google.com/share', {
      url: share_link
    });
  }

  function pinterestShare(thumbnail,share_message,share_link) {
    open_popup('https://www.pinterest.com/pin/create/button', {
      url: share_link,
      media: thumbnail,
      description: share_message
    });
  }

  function toogleLikeButton(is_liked) {
    if (is_liked) {
      $('.like_button').addClass('liked_state')
      $('.like_button').text("Unlike")
      $('.like_button').removeClass('unliked_state')
    } else {
      $('.like_button').addClass('unliked_state')
      $('.like_button').text("Like")
      $('.like_button').removeClass('liked_state')
    }
  }

  $('.like_button').on('click', function(e) {
    console.log("like clicked");

    like_params = {}
    like_params["remake_id"] = currentRemake["remake_id"];
    if ($.cookie('homageCookieID')) like_params["cookie_id"] = $.cookie('homageCookieID');

    if ($('.like_button').hasClass('unliked_state')) {
      toogleLikeButton(true);
      $.post('/remake/like' , like_params)

    } else if ($('.like_button').hasClass('liked_state')) {
      toogleLikeButton(false);
      $.post('/remake/unlike' , like_params)
    }
  });

  // $(".homageAppStoreLink").click(function() {
  //   $.get('/ios', {"src": "minisite"});
  // });

  // $(".homagePlayStoreLink").click(function() {
  //   $.get('/android', {"src": "minisite"});
  // });

  $('.all-remakes-button').on('click', function(e) {
    cleanGallery();
    fetch_remakes(AllQuery);
  });
  $('.my-remakes-button').on('click', function(e) {
    //fetch_remakes(MyTakesQuery);
  });

  $('.trending-remakes-button').on('click', function(e) {
    //fetch_remakes(TrendingQuery);
  });

  function checkViewReportStatus () {
    // Tracking only if we already tracked play and didn'y track stop
    if (playReported && !stopReported) {
      var campaign_id = '<%= @campaign["_id"].to_s %>'
      // Tracking in our Server (doing a sync call because the page is about to close)
      $.ajax({
          type: 'POST',
          async: false,
          url: '/campaign_video/view',
          data: {"view_id":currentViewId, "campaign_id":campaign_id, "playback_event":1, "originating_screen":11, "total_duration":myPlayer.duration(), "playback_duration":myPlayer.currentTime()},
          complete: function(xhr, status) {
            playReported = false;
            stopReported = true; 
          }
      });
    }
  }
      
  // Event for page unload to track the end of the view
  $(window).bind('beforeunload', function(){
    checkViewReportStatus();
  });

  $(".header_share").on('click', function(e){
    showSiteShareContainer();
  });

  function showSiteShareContainer() {
    $(".header_share").hide();
    $(".share_site_container").css("display","inline-block");
  }

  function hideSiteShareContainer() {
    $(".header_share").show();
    $(".share_site_container").css("display","none");
  }

  campaign_video = '<%= @campaign["video"].to_s %>'
  campaign_thumbnail = '<%= @campaign["thumbnail"].to_s %>'
  campaign_share_message = '<%= @campaign["share_message"].to_s %>'
  campaign_share_link = '<%= @campaign["web_link"].to_s %>'

  $(".twitter_site_share").on('click', function(e) {
    twitterShare(campaign_thumbnail,campaign_share_message,campaign_share_link);
    hideSiteShareContainer();
  });

  $(".facebook_site_share").on('click', function(e) {
    facebookShare(campaign_thumbnail,campaign_share_message,campaign_share_link);
    hideSiteShareContainer();
  });

  $(".gplus_site_share").on('click', function(e) {
    gplusShare(campaign_thumbnail,campaign_share_message,campaign_share_link);
    hideSiteShareContainer();
  });

  $(".pinterest_site_share").on('click', function(e) {
    pinterestShare(campaign_thumbnail,campaign_share_message,campaign_share_link);
    hideSiteShareContainer();
  });

  $(".email_site_share").on('click', function(e) {
    emailShare(campaign_thumbnail,campaign_share_message,campaign_share_link);
    hideSiteShareContainer();
  });

  fetch_remakes(AllQuery);
  
</script>
</body>